<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(function () {
				var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
				var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
					return new bootstrap.Tooltip(tooltipTriggerEl)
				})
				
				//임시 메세지 불러오는 로직
				$("#msg_btn").click(function (e) {
					$('#msgModal').modal("show");
				})
				
				
				$.post_hover = function () {
					//포스트에 마우스 올라가면 여차저차 ㅇㅇㅇ
					$(".search_post").hover(function (e) {
						$(this).css("background-color", "rgba(0, 0, 0, 0.03)");
					}, function (e) {
						$(this).css("background-color", "rgba(0, 0, 0, 0)");
					});

					//부모 엘리먼트에 이벤트가 있으면 자식 엘리먼트가 먹지 않음
					//그걸 해소하는 로직
					($(".search_post").find("a")).click(function (e) {
						e.stopPropagation();
					})
					
					//아직 미구현 다른 페이지로 이동하는 부분
					$(".search_post").click(function (e) {
						location.href = 'main.html';
					})

				}
				$.post_hover();
			});
		</script>
	</th:block>

</head>
<!-- head 영역 끝 -->

<body>
	<main layout:fragment="main" id="main" class="main">
		<section class="section dashboard">
			<div class="row">
				<!-- Left side columns -->
				<div class="col-lg-8">
					<!-- 선택 버튼 -->
					<div class="row">
						<div class="col-12">
							<ul class="nav nav-tabs nav-tabs-bordered">
								<li class="nav-item">
									<button class="nav-link active" data-bs-toggle="tab"
										data-bs-target="#search-post">포스트</button>
								</li>

								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab"
										data-bs-target="#search-tag">태그</button>
								</li>

								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab"
										data-bs-target="#search-user">유저</button>
								</li>
							</ul>


							<!--버튼에 관한 각각의 창-->
							<div class="tab-content pt-1">
								<!--포스트-->
								<!-- 받아온 POST 정보 삽입 -->
								<th:block id="card-block">
									<div class="tab-pane fade show active" id="search-post" th:each="mglgPost : ${mglgPostDTOs}">
										<div class="row">
											<div class="col-12">
												<div class="card-body search_post"
													style="border-radius: 16px; position: relative;">
													<div class="filter" style="margin-top: 10px;">
														<a class="icon" href="#" data-bs-toggle="dropdown"><i
																class="bi bi-three-dots"></i></a>
														<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
															<li><a class="dropdown-item" href="#"><i
																		class="ri-alarm-warning-line"></i>&emsp;신고하기</a>
															</li>
														</ul>
													</div>
	
													<div class="card-title">
														<img class="img-fluid rounded-circle"
															th:src="@{/assets/img/messages-1.jpg}" style="width: 40px;">
														<a href="#" class="card-title" th:text="${mglgPost.restNm}">asdf</a>
													</div>
													<div class="activity" style="margin-bottom: 10px;">
														<img th:src="@{/assets/img/news-1.jpg}" style="width: 100%;">
													</div>
													<div class="activity">
														<div th:text="${mglgPost.postContent}"></div>
														<br>
														<a href="#" th:text="${mglgPost.hashTag1}" style="color: blue;">&emsp;#</a>
														<a href="#" th:text="${mglgPost.hashTag2}" style="color: blue;">&emsp;#</a>
														<a href="#" th:text="${mglgPost.hashTag3}" style="color: blue;">&emsp;#</a>
														<a href="#" th:text="${mglgPost.hashTag4}" style="color: blue;">&emsp;#</a>
														<a href="#" th:text="${mglgPost.hashTag5}" style="color: blue;">&emsp;#</a>
													</div>
													<div class="activity">
														<a href="#"><i class="ri-heart-3-line"
																style="font-size: 30px; margin-right: 5px; color:black"></i></a>
														<a href="#" id="msg_btn"><i class="ri-message-3-line"
																style="font-size: 30px; margin-right: 5px; color:black;"></i></a>
														<a href="#"><i class="ri-send-plane-2-line"
																style="font-size: 30px; margin-right: 5px; color:black;"></i></a>
														<br>
														<a>좋아요 <span>21</span>개</a>
													</div>
												</div>
	
												<hr>
											</div>
										</div>
									</div>
								</th:block>
								<!--팔로잉-->
								<div class="tab-pane fade" id="search-user">
									<div class="row">
										<div class="card">
											<!--팔로잉 리스트-->
											<div class="" style="width: 100%; height: 70px;">
												<div class="col-2"
													style="margin-top: 10px; float: left; text-align: center;"><img
														class="img-fluid rounded-circle"
														th:src="@{/assets/img/messages-2.jpg}" style="width: 50px;">
												</div>
												<div class="col-10"
													style="margin-top: 13px; float: left; text-align: center; padding-left: -50%;">
													<div><b>asdf</b></div>
													<div style="color: #aaaaaa; font-size: x-small;">
														rlckdur123@naver.com</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div><!-- End Left side columns -->

				<!-- Right side columns -->
				<div class="col-lg-4">

					<!-- 지금뜨는 먹거리 -->
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"
								style="text-align: center; font-size: larger; font-weight: bold; margin-top:10px;">지금 뜨는
								먹거리 <span>| Today</span></h5>
							<div class="activity">
								<div id="today_eat">
									<ol>
										<li><a href="#"><b>#치킨</b></a></li>
										<li><a href="#"><b>#보쌈</b></a></li>
										<li><a href="#"><b>#연어초밥</b></a></li>
										<li><a href="#"><b>#우육면</b></a></li>
										<li><a href="#"><b>#마라탕</b></a></li>
										<li><a href="#"><b>#짜장면</b></a></li>
										<li><a href="#"><b>#라멘</b></a></li>
										<li><a href="#"><b>#갈비</b></a></li>
										<li><a href="#"><b>#곱창</b></a></li>
										<li><a href="#"><b>#막창</b></a></li>

									</ol>
								</div>

							</div>

						</div>
					</div><!-- End Recent Activity -->


				</div>
		</section>

		<!-- 댓글 모델 -->
		<div class="modal fade" id="msgModal" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<form class="form-inline" role="form">
							<input type="text" placeholder="댓글을 작성하세요!!" onfocus="this.placeholder=''"
								onblur="this.placeholder='댓글을 작성하세요!!'">
							<input type="button" value="작성">
						</form>
					</div>
					<div class="modal-body overflow-auto">
						<div id="comment" style="max-height: 30em;">
							<div class="comment_info" style="margin-bottom: 20px;">
								<img class="img-fluid rounded-circle" th:src="@{/assets/img/messages-2.jpg}"
									style="width: 40px;">
								<span style="margin-left: 10px;">머글랭</span>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
							</div>
							<div class="comment_info" style="margin-bottom: 20px;">
								<img class="img-fluid rounded-circle" th:src="@{/assets/img/messages-1.jpg}"
									style="width: 40px;">
								<span style="margin-left: 10px;">머글랭</span>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
							</div>
							<div class="comment_info" style="margin-bottom: 20px;">
								<img class="img-fluid rounded-circle" th:src="@{/assets/img/messages-3.jpg}"
									style="width: 40px;">
								<span style="margin-left: 10px;">머글랭</span>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main><!-- End #main -->
</body>

</html>