<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body>
	  <!-- ======= Sidebar ======= -->
	  <aside th:fragment="sidebar" id="sidebar" class="sidebar">
	    <div id="user_info">
	      <img class="img-fluid rounded-circle" src="../assets/img/messages-1.jpg" style="margin-bottom: 20px;">
	 		
	      <h4 th:text="${loginUser.userName}" th:if="${loginUser} != null"></h4>
	      <span th:text="${loginUser.email}" th:if="${loginUser} != null"></span>
	      <h4 th:text="머글랭" th:if="${loginUser} == null"></h4>
	      <span th:text="'muglang@naver.com'" th:if="${loginUser} == null"></span>
	      <div id="user_content">
	        <div class="user_content">
	          <p class="user_content_name">게시물</p>
	          <p class="user_content_info"><a href="#" style="color:black;">22</a></p>
	        </div>
	        <div class="user_content">
	          <p class="user_content_name">팔로워</p>
	          <p class="user_content_info"><a href="#" style="color:black;">7</a></p>
	        </div>
	        <div class="user_content">
	          <p class="user_content_name">팔로우</p>
	          <p class="user_content_info"><a href="#" style="color:black;">26</a></p>
	        </div>
	      </div>
	    </div>
	
	    <ul class="sidebar-nav" id="sidebar-nav">
	      
	      <li class="nav-heading">Pages</li>
	      <li class="nav-item">
	        <a class="nav-link collapsed" th:href="@{/user/profile}">
	          <i class="bi bi-person"></i>
	          <span>Profile</span>
	        </a>
	      </li><!-- End Profile Page Nav -->
	
	      <li class="nav-item">
	        <a class="nav-link collapsed" href="pages-faq.html">
	          <i class="bi bi-question-circle"></i>
	          <span>F.A.Q</span>
	        </a>
	      </li><!-- End F.A.Q Page Nav -->
	
	      <li class="nav-item">
	        <a class="nav-link collapsed" th:href="@{/user/login}">
	          <i class="bi bi-box-arrow-in-right"></i>
	          <span>Login</span>
	        </a>
	      </li><!-- End Login Page Nav -->
	
	      <li class="nav-item">
	        <a class="nav-link collapsed" th:href="@{/admin/adminView}">
	          <i class="bi bi-dash-circle"></i>
	          <span>관리자페이지</span>
	        </a>
	      </li><!-- End Error 404 Page Nav -->
	
	    </ul>
	
	  </aside><!-- End Sidebar-->
	</body>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</html>