<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->

<head>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			const loginUserId = /*[[${loginUser.userId}]]*/;


			//새 게시글에서 추가된 파일들을 담아줄 배열. File객체로 하나씩 담음
			let uploadFiles = [];
			//이미 게시된 게시글의 파일들을 담을 게시글 구분 새로운 임시 배열
			let uploadPostFileList = [];
			//기존 첨부파일 배열
			let originFiles = [];
			//각 게시글들의 첨부파일들을 모은 것을 따로 담을 것임..
			let originFileList = [];
			//변경된 첨부파일 배열
			let changedFiles = [];

			//게시글을 이벤트 처리하기위해 정리 해둔 배열들로
			//포스팅 글들의 id를 관리하는데 사용함.
			//해당 배열은 파일 처리 이벤트에서 많이 쓰게될 예정.
			let postIdList = [];
			let flagList = [];
			let postFileIdList = [];
			//게시글 등록후 해당 인덱스 번호에 대한 파일 이미지 조작할 게시글 위치를 등록할 변수
			//새로 고침을 하거나 다른 페이지로 가면 이 정보는 0으로 초기화됨.
			let insertIndex = 0;
			//댓글 페이지수
			let comment_page_num = 0;

			//댓글 관련 전역변수
			let postId;
			let commentId;
			let text_comment;

			//현재시간
			let now = new Date();

			//댓글 수정 texteara 크기 자동 증가
			function resize(obj) {
				obj.style.height = "1px";
				obj.style.height = (12 + obj.scrollHeight) + "px";
			}
			/*
			//게시글을 이벤트 처리하기위해 정리 해둔 배열들로
			//포스팅 글들의 id를 관리하는데 사용함.
			//해당 배열은 파일 처리 이벤트에서 많이 쓰게될 예정.
			let postIdList = [];
			let flagList = [];
			let postFileIdList = [];
			*/
			$(function () {
				const userId = /*[[${#authentication.principal.username}]]*/;

				console.log(userId);

				let list = $('.post').get();

				//전역변수에서 사용할 배열을 사용할 수 있게 초기화 하는 반복문.
				//2차원배열로 사용할 배열은 미리 초기화하여 이후에 사용할 것임.
				//!!!!!!!!!!!!!!!!!!!!!!postFileId가 postId별로 존재하는 게 아니기 때문에 2차원배열 사용할 이유없음
				for (let i = 0; i < list.length; i++) {
					flagList.push(false);
					/*
					uploadPostFileList[i] = [];
					changedFiles[i] = [];
					originFileList[i] = [];
					postIdList.push($($('.updateBtn')[i]).val());
					postFileIdList.push(new Array());
					console.log(postIdList[i] + " 게시글의 파일의 길이 : " + $("#fileListSize" + postIdList[i]).val());
					for (let j = 0; j < $("#fileListSize" + postIdList[i]).val(); j++) {
						let id = $($('.postFileId' + postIdList[i])[j]).val();
						console.log(id);
						postFileIdList[i].push(id);
					}
					console.log("파일들의 리스트 목록 배열 : " + postFileIdList[i]);*/
				}

				$("input[name='postFileId']").each(function () {
					postFileIdList.push($(this).val());
				});

				console.log("게시글 : " + postIdList);
				console.log("파일들의 리스트 목록 배열 : " + postFileIdList);
				console.log(list.length);

				//html단의 처리. html의 val값으로 태그들을 뺀 값을 넣을 수 있다.
				console.log($("#postContentIn").val());
				$("#postContent25").html($("#postContentIn").val());
				console.log($(".quill-editor-default").text());
				$("#postContent").val($(".ql-editor").html());


				//퀼 텍스트 에어리어 소환
				new Quill('.quill-editor-default', {
					modules: {
						toolbar: [
							[{
								font: []
							}, {
								size: []
							}],
							["bold", "italic", "underline", "strike"],
							[{
								color: []
							},
							{
								background: []
							}
							],
							[{
								script: "super"
							},
							{
								script: "sub"
							}
							],
							[{
								list: "ordered"
							},
							{
								list: "bullet"
							},
							{
								indent: "-1"
							},
							{
								indent: "+1"
							}
							],
							["direction", {
								align: []
							}],
							["image"],
							["clean"]
						]
					},
					theme: 'snow'

				});

				//해시태그 이벤트
				for (let i = 1; i < 5; i++) {
					$("#hashTag" + i).blur(function () {
						if ($("#hashTag" + i).val() != "") {
							$("#hashTag_label" + (i + 1)).css("display", "inline-block");
						}
					});
				}

				//게시글 등록에서 사용되는 파일리스트 보관.
				for (let i = 0; i < postFileIdList.length; i++) {
					const originFileObj = {
						postId: $("#postId" + postFileIdList[i]).val(),
						postFileId: postFileIdList[i],
						postFileNm: $("#postFileNm" + postFileIdList[i]).val(),
						//업로드 파일 경로가 각각 다를때는 boardFilePath 속성도 추가
						//파일 상태값(수정되거나 삭제된 파일은 변경) - 파일의 상태 값을 표시함.
						postFileStatus: "N"
					};
					originFiles.push(originFileObj);
					console.log(originFiles);
				}

				//게시글 조회에서 사용함. 해당 게시글의 업로드된 파일을 확인.
				//업로드된 파일의 개수만큼 반복해서 originFileObj 맵에 파일 정보를 배열에 저장함.
				//수업 때 했던 게시글은 1개이고, 지금 이건 여러개를 뿌려야하기 때문에 게시된 데이터를 다 가지고 와야함.
				//68번째라인 참조
				/*for (let i = 0; i < postIdList.length; i++) {
					console.log("파일 정보 입력 시작하기 : " + $("#fileListSize" + postIdList[i]).val());
					for (let j = 0; j < $("#fileListSize" + postIdList[i]).val(); j++) {
						const originFileObj = {
							postId: postIdList[i],
							postFileId: postFileIdList[i][j],
							postFileNm: $($(".postFileNm")[i]).val(),
							//업로드 파일 경로가 각각 다를때는 boardFilePath 속성도 추가
							//파일 상태값(수정되거나 삭제된 파일은 변경) - 파일의 상태 값을 표시함.
							postFileStatus: "N"
						};
						console.log("파일의 아이디번호 : " + originFileObj.postFileId);
						console.log("파일의 이름 : " + originFileObj.postFileNm);
						originFileList[i].push(originFileObj);	//각 게시물들의 최신 파일 정보는 따로 리스트로 분리하여 처리.
					}
					//1 게시글의 내용을 모아두는 배열에 담음. - 2차원 배열.
					//originFileList.push(originFiles);
					console.log(postIdList[i] + "번 게시글");
					console.log(originFileList[i]);
				}*/

				//작성 버튼의 파일 처리도 나중에 진행 할 예정임.
				//작성 버튼 - 따로 다른 페이지로 이동하지 않고 현재 페이지에서 바로 입력 처리를 시작함.

				$("#insert_board").on("click", function (e) {
					e.preventDefault();
					let insert_post = "";
					//$(".quill-editor-default").text();
					$("#postContent").val($(".quill-editor-default").text());

					//$("#postContent").val($(".ql-editor").html());
					//마지막으로 btnAtt에 uploadFiles에 있는 파일들을 담아준다.
					dt = new DataTransfer();

					for (f in uploadFiles) {
						const file = uploadFiles[f];
						dt.items.add(file);
					}
					console.log("파일 입력 내용을 입력 중입니다." + $("input[name='postContent']").val());
					$("#btnAtt")[0].files = dt.files;
					//$("#insert_form").submit();
					//변경된 파일정보와 삭제된 파일정보를 담고있는 배열 전송
					//배열 형태로 전송 시 백단(Java)에서 처리불가
					//JSON String 형태로 변환하여 전송한다.
					//$("#originFiles").val(JSON.stringify(originFiles));

					//ajax에서 multipart/form-data형식을 전송하기 위해서는
					//new FormData()를 사용하여 직접 폼데이터 객체를 만들어준다.
					//form.serialize()는 multipart/form-data 전송불가
					let formData = new FormData($("#insert_form")[0]);

					//ajax는 추후에 구현할 예정.
					//insertPostAndFile();
					$.ajax({
						enctype: 'multipart/form-data',
						url: '/post/insertPost',
						type: 'post',
						processData: false,
						contentType: false,
						data: formData,
						success: function (obj) {

							alert("글 등록에 성공하였습니다.");
							console.log(obj);
							console.log("로그인한 계정 : " + loginUserId);
							console.log("먼저 등록한 게시글의 번호 : " + insertIndex);
							insert_post = post(obj.item, insertIndex);

							//화면에 표시된 게시글 수 갱신
							let postNumber = Number($("#cntPost").text()) + 1;
							$("#cntPost").text(postNumber);
							//$("#posts").html(insert_post);
							//html단 뿌리기
							$("#posts").prepend($(insert_post));
							//뿌려서 갱신된 정보를 최신순인 앞에서부터 입력함.
							flagList.unshift(false);
							postIdList.unshift($($('.updateBtn')[0]).val());
							//이벤트 다시 적용
							$.like_button();
							$.comment_button();
							$.update_post();
							insertIndex += 1;
							return false;
						}, error: function (e) {
							console.log(e);
						}
					});

				});


				//좋아요 버튼 함수(innerHtml에도 먹이기 위해서 함수로 만듬)
				$.like_button = function () {
					$(".post_like").click(function (e) {
						//하트 아이콘의 아이디를 게시물 아이디로 만들었음
						postId = e.target.id;
						if ($(e.target).css("color") == "rgb(0, 0, 0)") {
							console.log("좋아요 누른 포스트 id: " + postId);
							$(e.target).css("color", "red");
							//좋아요를 눌렀을때 ajax
							$.ajax({
								url: '/post/likeUp',
								type: 'get',
								//포스트 아이디를 전송
								//일단 생각한 방법으로 만들어뒀음(like 좋아요 1, 해제 0)
								data: {
									userId: [[${loginUser.userId}]],
									postId: postId
								},
								success: function (obj) {
									console.log(obj)
									//좋아요 개수를 likeCnt +아이디 로 만들었음

									$("#likeCnt" + postId).html(obj);
								},
								error: function (e) {
									console.log(e);
								}
							});
						} else {
							$(e.target).css("color", "black");
							console.log("좋아요 해제한 포스트 id: " + postId);
							$.ajax({
								url: '/post/likeDown',
								type: 'get',
								data: {
									userId: [[${loginUser.userId}]],
									postId: postId
								},
								success: function (obj) {
									console.log(obj)
									//좋아요 개수를 likeCnt +아이디 로 만들었음
									$("#likeCnt" + postId).html(obj);
								},
								error: function (e) {
									console.log(e);
								}
							});
						}
					});
				}

				//좋아요 이벤트 리스너 함수 호출
				$.like_button();

				//게시글에서 댓글버튼 이벤트 리스너
				$.comment_button = function () {
					text_comment = "";
					$(".msg_icon").click(function (e) {
						//여기도 댓글 아이콘 아이디를 포스트 id로 잡았음
						postId = e.target.id;
						$.comment_list();
					});

				}
				//댓글버튼 이벤트 리스너 함수 호출
				$.comment_button();

				//화면단에 최초로 뿌릴 때 해당 정보를 임시로 저장하는 변수
				let thisCommentTotalPages = 0;
				let thisCommentTotalElements = 0;
				//전역변수인 게시글 id로 리스트 불러오는 로직
				$.comment_list = function () {

					$.ajax({
						url: '/comment/commentList',
						type: 'get',
						data: {
							postId: postId,
						},
						success: function (obj) {
							console.log(obj);
							text_comment += `<div class="modal-header">`
							text_comment += `<textarea id="insert_text${postId}" style="width:80%; height: 30px; border:none; outline: none; overflow:hidden; resize: none;" spellcheck="false" onkeydown="resize(this)" onkeyup="resize(this)" placeholder="댓글을 작성해주세요"]></textarea>`
							text_comment += `<button class="btn" id="insert_btn${postId}">작성</button></div>`
							text_comment += `<div class="modal-body overflow-auto" id="modal-body">`
							text_comment += `<div id="comment${postId}" class="comments" style="max-height: 30em;">`
							//받아온 객체의 내용을(댓글) 숫자만큼 반복
							for (let comment of obj.content) {
								let comment_date = new Date(comment.commentDate);
								console.log(obj);
								//날짜 데이터 밀리초
								comment_date = now - comment_date;

								console.log(comment_date);
								if (loginUserId == comment.mglgUser.userId) {	//현재 로그인했던 유저와 해당 댓글의 id를 비교
									text_comment += `<div class="comment_info" style="margin-bottom: 30px; background-color: rgba(0, 0, 0, 0.08);  position:relative;">`
								} else {
									text_comment += `<div class="comment_info" style="margin-bottom: 30px;  position:relative;">`

								}
								text_comment += `<div class="filter" style="margin-top: 15px; position: absolute; top:-12px; right:10px;">`
								//댓글에 시간 표시하는 로직.
								if (comment_date / (1000 * 60 * 60 * 24 * 30 * 12) > 1) {
									text_comment += `<a style="margin-right: 20px;">${parseInt(comment_date / (1000 * 60 * 60 * 24 * 30 * 12))}년 전</a>`;
								}
								else if (comment_date / (1000 * 60 * 60 * 24 * 30) > 1) {
									text_comment += `<a style="margin-right: 20px;">${parseInt(comment_date / (1000 * 60 * 60 * 24 * 30))}달 전</a>`;
								}
								else if (comment_date / (1000 * 60 * 60 * 24) > 1) {
									text_comment += `<a style="margin-right: 20px;">${parseInt(comment_date / (1000 * 60 * 60 * 24))}일 전</a>`;
								}
								else if (comment_date / (1000 * 60 * 60) > 1) {
									text_comment += `<a style="margin-right: 20px;">${parseInt(comment_date / (1000 * 60 * 60))}시간 전</a>`;
								}
								else {
									text_comment += `<a style="margin-right: 20px;">${parseInt(comment_date / (1000 * 60))}분전</a>`;
								}
								text_comment += `<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>`;
								text_comment += `<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">`;
								if (loginUserId == comment.mglgUser.userId) {	//현재 로그인했던 유저와 해당 댓글의 id를 비교
									text_comment += `<li><a class="dropdown-item comment_update" id="${comment.commentId}"></i>&emsp;수정</a></li>`
									text_comment += `<li><a class="dropdown-item comment_delete" id="${comment.commentId}" href="#"></i>&emsp;삭제</a></li>`
								} else {

									text_comment += `
													<form action="/comment/reportComment" method="post">
													<li>
														<input type="hidden" name="postId" value="${postId}">
														<input type="hidden" name="postUserId" value="${comment.mglgUser.userId}">
														<input type="hidden" name="commentId" value="${comment.commentId}">
														<input type="submit" class="dropdown-item" value="코멘트 신고하기">
													</li>
													</form>`
								}
								text_comment += `</ul>`
								text_comment += `</div>`
								//프사 넣는부분
								text_comment += `<img class="img-fluid rounded-circle" src="../assets/img/messages-2.jpg" style="width: 40px;">`
								text_comment += `<span style="margin-left: 10px;"><a href="#" style="color: black; cursor:pointer;">${comment.mglgUser.userName}</a></span>`
								text_comment += `<div style="word-break: keep-all;">${comment.commentContent}`
								text_comment += `<br><textarea id="update_text${comment.commentId}" style="width:100%; overflow:hidden; resize: none; display:none;" spellcheck="false" onkeydown="resize(this)" onkeyup="resize(this)">${comment.commentContent}</textarea>`
								text_comment += `<button class="btn cancle_comment" id="cancle_comment${comment.commentId}" style="float:right; display:none;">취소</button>`
								text_comment += `<button class="btn update_comment" id="update_comment${comment.commentId}" style="float:right; display:none;">수정</button></div></div>`
							}
							text_comment += `</div></div>`;
							$("#modal-content").html(text_comment);
							//작업 끝나고 이거 활성화


							//댓글 페이징을 위한 페이징 넘버를 최초 댓글 열때 저장.
							thisCommentTotalPages = Number(obj.totalPages);
							thisCommentTotalElements = Number(obj.totalElements);
							console.log(thisCommentTotalPages);
							console.log(thisCommentTotalElements);
							//댓글 무한 스크롤 발생 이벤트 시작
							comment_page_num = 1;

							replyScroll(thisCommentTotalPages, thisCommentTotalElements);

							$('#msgModal').modal("show");
							//이벤트 넣기
							$.comment_insert();
							$.comment_update();
							$.comment_delete();

						},
						error: function (e) {
							console.log("에러에러");
						}


					});
				}

				//댓글 작성 함수
				$.comment_insert = function () {
					let text_comment = "";
					$("#insert_btn" + postId).click(function (e) {
						console.log($("#insert_text" + postId).val())
						$.ajax({
							url: '/comment/insertComment',
							type: 'post',
							data: {
								userId: loginUserId,
								postId: postId,
								commentContent: $("#insert_text" + postId).val()
							},
							success: function () {
								$.comment_list();
							},
							error: function (e) {
								console.log("에러에러");
							}
						});
					});
				}

				//댓글 삭제 함수
				$.comment_delete = function () {
					$(".comment_delete").click(function (e) {
						let commentId = e.target.id;
						let text_comment = "";

						$.ajax({
							url: '/comment/deleteComment',
							type: 'post',
							data: {
								commentId: commentId,
								postId: postId
							},
							success: function () {
								$.comment_list();
							},
							error: function (e) {
								console.log("에러에러");
							}
						});
					});
				}

				//댓글 수정 함수
				$.comment_update = function () {
					text_comment = "";
					$(".comment_update").click(function (e) {
						commentId = e.target.id;

						$("#update_text" + commentId).css("display", "inline-block");
						$("#update_comment" + commentId).css("display", "inline-block");
						$("#cancle_comment" + commentId).css("display", "inline-block");
					});

					$(".update_comment").click(function (e) {
						commentContent = $("#update_text" + commentId).val();
						$.ajax({
							url: '/comment/updateComment',
							type: 'put',
							data: {
								commentId: commentId,
								postId: postId,
								commentContent: commentContent
							},
							success: function () {
								$.comment_list();
							},
							error: function (e) {
								console.log("에러에러");
							}
						});
					})

					$(".cancle_comment").click(function (e) {
						$("#update_text" + commentId).css("display", "none");
						$("#update_comment" + commentId).css("display", "none");
						$("#cancle_comment" + commentId).css("display", "none");
					})
				}

				//게시글 작성에서 사진 버튼 누르면 input-file 실행
				//주석_창혁(quill쓰면 사진 필요 없어져서 일단 삭제)
				//$("#file_select_btn").click(function (e) {
				//   $("#file_select").click();
				//});

				//게시글 입력 하는 입력창 조작
				$("#inputRestNm").keyup(function (e) {
					$("#restNm").val($(this).val());
				});

				//무한스크롤
				let page_num = 1;
				let text_scroll = "";
				$(window).scroll(function () {
					if ($(window).scrollTop() == $(document).height() - $(window).height()) {
						if (page_num < [[${postList.totalPages}]]) {
							$.ajax({
								url: '/post/mainPost',
								type: 'post',
								data: {page_num: page_num},
								success: function (obj) {
									//한번 더 스크롤나오면 다음페이지를 데이터로 넘기도록 하는 녀석
									console.log(obj)
									page_num++;
									let elements = obj.totalElements - 5;
									for (let post of obj.content) {
										let post_date = new Date(post.postDate);
										//날짜 데이터 밀리초
										post_date = now - post_date;
										//인덱스번호를 받기위해 총 배열의 개수를 받아서 자동증가
										elements++;
										text_scroll += `<div class="col-12 post">`;
										text_scroll += `<input type="hidden" value="${post.betweenDate}">`;
										text_scroll += `<input type="text" id="fileList${post.postId}" value="${post.fileLength}">`;
										text_scroll += `<div class="card recent-sales">`
										text_scroll += `<div class="card-body">`
										text_scroll += `<div class="filter" style="margin-top: 15px;">`
										if (post_date / (1000 * 60 * 60 * 24 * 30 * 12) > 1) {
											text_scroll += `<a style="margin-right: 20px;">${parseInt(post_date / (1000 * 60 * 60 * 24 * 30 * 12))}년 전</a>`
										}
										else if (post_date / (1000 * 60 * 60 * 24 * 30) > 1) {
											text_scroll += `<a style="margin-right: 20px;">${parseInt(post_date / (1000 * 60 * 60 * 24 * 30))}달 전</a>`
										}
										else if (post_date / (1000 * 60 * 60 * 24) > 1) {
											text_scroll += `<a style="margin-right: 20px;">${parseInt(post_date / (1000 * 60 * 60 * 24))}일 전</a>`
										}
										else if (post_date / (1000 * 60 * 60) > 1) {
											text_scroll += `<a style="margin-right: 20px;">${parseInt(post_date / (1000 * 60 * 60))}시간 전</a>`
										}
										else {
											text_scroll += `<a style="margin-right: 20px;">${parseInt(post_date / (1000 * 60))}분전</a>`
										}
										text_scroll += `<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>`
										text_scroll += `<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">`
										text_scroll += `<li><a class="dropdown-item" href="#"><iclass="ri-alarm-warning-line"></i>&emsp;신고하기</a></li>`
										text_scroll += `</ul></div>`
										text_scroll += `<div class="card-title">`
										text_scroll += `<form id="updateForm${post.postId}" enctype="multipart/form-data">`;
										//<!-- 게시글 사진 부분 -->
										//<!-- imgArea는 반복문을 사용해 2차원 배열 처럼 사용되어 파일의 내용을 표시하게됨. -->
										text_scroll	+= `<div class="activity" style="margin-bottom: 10px;"
														th:id="restImgBox${post.postId}">`; 
										text_scroll	+= `<div id="imgArea${post.postId}">`;
										if (loginUserId == post.userId) {
											for(let i = 0; i < post.fileLength; i++){
												text_scroll	+= `<div class="fileList${post.postId}" value="${post.fileList[i].postFileId}">`;
											//<!--<input type="text" th:id="'postFileNm' + ${post.postId}" value="">
											//<input type="text" th:id="'postFileId' + ${post.postId}" value="">-->
											
												text_scroll	+= `<div style="position: relative;">`;	
												text_scroll	+= `<input type="hidden" id="postFileId${post.fileList[i].postFileId}"
																class="postFileId${post.fileList[i].postId}" name="postFileId"
																value="${post.fileList[i].postFileId}">`;
												text_scroll	+= `<input type="hidden"id="postFileNm${post.fileList[i].postFileId}"
																class="postFileNm" name="postFileNm"
																value="${post.fileList[i].postFileNm}">`;
												text_scroll	+= `<input type="hidden" id="postId${post.fileList[i].postFileId}"
																class="postId${post.fileList[i].postId}" name="postId"
																value="${post.fileList[i].postId}">`;
												text_scroll	+= `<input type="file" th:id="changedFile${post.fileList[i].postFileId}"
																th:name="changedFile${post.fileList[i].postFileId}"
																style="display: none;"
																th:onchange="fnGetChangedFileInfo(${post.fileList[i].postFileId}, ${i}, event)">`;
												if(post.fileList[i].postFileCate == "img") {
													text_scroll	+= `<img id="img${post.fileList[i].postFileId}"
																	src="/upload/${post.fileList[i].postFileNm}"
																	style="width: 100%; height: 100%; z-index: none; cursor: pointer;"
																	class="fileImg"
																	onclick="fnImgChange(${post.fileList[i].postFileId})">`;
																	
												} else {
													text_scroll	+= `<img id="img${post.fileList[i].postFileId}"
																	src="/assets/img/defaultFileImg.png"
																	style="width: 100%; height: 100%; z-index: none; cursor: pointer;"
																	class="fileImg"
																	onclick="fnImgChange(${post.fileList[i].postFileId})">`;
												}
												
												text_scroll	+= `<input type="button" class="btnDel" value="x"
																data-del-file="${post.fileList[i].postFileId}" style="width: 30px; height: 30px; position: absolute; right: 0px; bottom: 0px; 
																z-index: 999; background-color: rgba(255, 255, 255, 0.1); color: #f00;"
																onclick="fnPostImgDel(event)">`;
												text_scroll	+= `<p id="fileNm${post.fileList[i].postFileId}"
																style="display: none; font-size: 8px; cursor: pointer;"
																onclick="fnFileDown(${post.fileList[i].postId}, ${post.fileList[i].postFileId})">
																${post.fileList[i].postFileOriginNm}</p>`;
												text_scroll	+= `</div>`;
											}
										} else {
											for (let i = 0; i < post.fileLength; i++) {
												if (post.fileList[i].postFileCate == "img") {
													text_scroll += `<img id="img${post.fileList[i].postFileId}" 
														 src="/upload/${post.fileList[i].postFileNm}"
													 	 style="width: 100%; height: 100%; z-index: none; cursor: pointer;" 
														 class="fileImg" 
														 onclick="fnImgChange(${post.fileList[i].postFileId})">`;
												} else {
													text_scroll += `<img id="img${post.fileList[i].postFileId}"
														 src="/assets/img/defaultFileImg.png"
														 style="width: 100%; height: 100%; z-index: none; cursor: pointer;" 
														 class="fileImg" 
														 onclick="fnImgChange(${post.fileList[i].postFileId})">`;
												}
											}
										}
										text_scroll	+= `</div></div>`;						
										text_scroll	+= `<div class="uploadFileSpace">
														<input type="file" id="updateBtnAtt${post.postId}"
															class="updateBtnAtt" data-post-id="${post.postId}" name="uploadFiles"
															multiple="multiple">
														</div>`;
										text_scroll	+= `<div class="changedFileSpace">
														<input type="file" id="changedFiles${post.postId}"
															name="changedFiles" value="" multiple="multiple">
														</div>`;	
										text_scroll	+= `<div id="postAttZone${post.postId}"
														data-placeholder="파일을 첨부하려면 파일선택 버튼을 누르세요."></div>`;	
										text_scroll	+= `<input type="hidden" name="postId" value="${post.postId}">`;	
										text_scroll	+= `<input type="hidden" name="originFiles" id="originFiles${post.postId}" value="">`;	
										text_scroll	+= `<input type="hidden" id="userId" name="userId" value="${post.userId}">`;	
										text_scroll	+= `<input type="hidden" id="postContentIn" name="postContent" value="${post.postContent}">`;	
										text_scroll	+= `<input type="hidden" name="postDate" value="${post.postDate}">`;	
										text_scroll	+= `<input type="hidden" name="restNm" value="${post.restNm}"></form>`;	
										
										//text_scroll += `<img class="img-fluid rounded-circle" src="../assets/img/messages-1.jpg"style="width: 40px;">`
										text_scroll += `<a href="#" class="card-title"> ${post.restNm}</a></div>`
										text_scroll += `<div class="activity" style="margin-bottom: 10px;">`
										text_scroll += `<img src="../assets/img/news-1.jpg" style="width: 100%;"></div>`
										if(loginUserId == post.postId) {
											text_scroll += `<div class="buttons fileBtns" id="buttonBox${post.postId}" value="${post.postId}">
															<button type="button" id="fileRequest${post.postId}"
															value="${post.postId}">파일 관리창 열기</button>&emsp;
															<!--<button type="button" id="fileRemove${post.postId}">파일 전부 삭제</button>-->
														</div>`;
										}
										text_scroll += `<div class="activity">`
										text_scroll += `<div th:id="'postContent' + ${post.postId}">${post.postContent}</div>`
										text_scroll += `<div id="upTitle${post.postId}">수정할 게시글 내용</div>`;
										text_scroll += `<textarea id="contentIn${post.postId}" name="contentIn" col="85%"
														row="40" style="display: none; resize: none;">${post.postContent}</textarea>`;
										//여기에 텍스트 에어리어 투명한거 들어가는자리(일단 빼놨음)
										text_scroll += `<br>`
										text_scroll += `</div>`
										text_scroll += `<div class="activity">`
										//<!--좋아요 댓글 지도-->	
										if (post.postLike == "Y")
											text_scroll += `<i class="ri-heart-3-line post_like" id="${post.postId}" style="font-size: 30px; margin-right: 5px; color:red; cursor: pointer;"></i>`
										else if (post.postLike == "N")
											text_scroll += `<i class="ri-heart-3-line post_like" id="${post.postId}" style="font-size: 30px; margin-right: 5px; color:black; cursor: pointer;"></i>`
										text_scroll += `<i class="ri-message-3-line msg_icon" id="${post.postId}" style="font-size: 30px; margin-right: 5px; color:black; cursor: pointer;"></i>`
										//식당 관련 내용을 적용하는 버튼	
										if (post.restaurant == "Y")
											text_scroll += `<i class="ri-map-pin-2-line map_icon" id="${post.postId}" style="font-size: 30px; margin-right: 5px; color:black; cursor: pointer;"></i>`
										text_scroll += `<br>`
										text_scroll += `<a>좋아요 <span id="likeCnt${post.postId}">${post.likeCnt}</span>개</a>`;			

										text_scroll += `<hr></div>`
										//내부 서버로 옮기는 데이터를 모음. 추후에 이미지도 다룸. 
										text_scroll += `<form class="data" action="/post/deletePost" method="post">`
										text_scroll += `<input type="hidden" id="restNmIn" name="restNm" value="${post.restNm}">`
										text_scroll += `<input type="hidden" id="postContentIn" name="postContent" value="${post.postContent}">`
										text_scroll += `<input type="hidden" id="userId" name="userId" value="''+${post.userId}">`
										text_scroll += `<input type="hidden" id="postId" name="postId" value="''+${post.postId}">`
										text_scroll += `<input type="hidden" id="postDate" name="postDate" value="''+${post.postDate}">`
										text_scroll += `</form>`
										//<!-- 친구 식사 했는지 확인 필드 -->
										if(post.resCnt != 0) {
											text_scroll += `<div class="activity" style="text-align: center;"><hr>
												<a href="#"><span th:text="${item.loginUser.userName}"></span>님의 친구 <span>${post.resCnt}</span>명이
													<span>${post.resName}</span> 에서 식사하셨어요!</a></div>`;		
										}
										if(loginUserId == post.userId)
										text_scroll += `<button type="button" class="updateBtn" id="updateButton"
														value="${post.postId}">게시글 수정</button>`;									
										text_scroll += `</div></div></div>`;
									}

									$("#post_scroll_div").html(text_scroll);
									$(".uploadFileSpace").hide();
									$(".changedFileSpace").hide();
									//이벤트 리스너 함수 호출
									$.updateBtn();
									$.like_button();
									$.comment_button();
									$.map_button();
								},
								error: function (e) {
									console.log(e);
								}
							});
						}
					}
				});

				//댓글 부분 무한 스크롤 - 부분
				//아이디comment 태그의 스크롤에 다차서 내려가면, 다시 ajax비동기 처리로 댓글 목록 불러옴.

				function replyScroll(thisCommentTotalPages, thisCommentTotalElements) {

					let comment_text_scroll = "";
					$('.modal-body').scroll(function (e) {
						//let comHeight = $('.modal-body').height() - $('.comment_info').height() * 4;
						//console.log("안쪽 게시글 내용 크기 : " + comHeight);
						//댓글 창을 끝까지 내릴 때쯤 이벤트가 발생.
						if ($('.modal-body').scrollTop() > $('.modal-body').height() - $('.comment_info').height() * 4) {
							//해당 댓글의 댓글 페이지수를 확인. 내용이 남아있을경우 추가 스크롤 활성화
							console.log("페이징 댓글 시작" + comment_page_num);
							if (comment_page_num < thisCommentTotalPages) {
								console.log("페이징 댓글 시작");
								$.ajax({
									url: '/comment/commentList',
									type: 'post',
									data: {
										page_num: comment_page_num,
										postId: postId
									},
									success: function (obj) {
										//숨김처리후 다시 재출력
										//$('#msgModal').modal("hide");
										//한번 더 스크롤나오면 다음페이지를 데이터로 넘기고, 다시 스크롤을 늘려 다음 댓글을 갱신하여 표시.
										comment_page_num++;

										for (let comment of obj.content) {
											let comment_date = new Date(comment.commentDate);
											console.log(comment);
											//날짜 데이터 밀리초
											comment_date = now - comment_date;

											console.log(comment_date);

											comment_text_scroll += `<div class="comment_info" style="margin-bottom: 30px; background-Color:red;  position:relative;">`;

											comment_text_scroll += `<div class="filter" style="margin-top: 15px; position: absolute; top:-12px; right:10px;">`;
											comment_text_scroll += `<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>`;
											//댓글에 시간 표시하는 로직.
											if (comment_date / (1000 * 60 * 60 * 24 * 30 * 12) > 1) {
												comment_text_scroll += `<a style="margin-right: 20px;">${parseInt(comment_date / (1000 * 60 * 60 * 24 * 30 * 12))}년 전</a>`;
											}
											else if (comment_date / (1000 * 60 * 60 * 24 * 30) > 1) {
												comment_text_scroll += `<a style="margin-right: 20px;">${parseInt(comment_date / (1000 * 60 * 60 * 24 * 30))}달 전</a>`;
											}
											else if (comment_date / (1000 * 60 * 60 * 24) > 1) {
												comment_text_scroll += `<a style="margin-right: 20px;">${parseInt(comment_date / (1000 * 60 * 60 * 24))}일 전</a>`;
											}
											else if (comment_date / (1000 * 60 * 60) > 1) {
												comment_text_scroll += `<a style="margin-right: 20px;">${parseInt(comment_date / (1000 * 60 * 60))}시간 전</a>`;
											}
											else {
												comment_text_scroll += `<a style="margin-right: 20px;">${parseInt(comment_date / (1000 * 60))}분전</a>`;
											}

											comment_text_scroll += `<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">`;
											if (loginUserId == comment.mglgUser.userId) {	//현재 로그인했던 유저와 해당 댓글의 id를 비교
												comment_text_scroll += `<li><a class="dropdown-item comment_update" id="${comment.commentId}"></i>&emsp;수정</a></li>`;
												comment_text_scroll += `<li><a class="dropdown-item comment_delete" id="${comment.commentId}" href="#"></i>&emsp;삭제</a></li>`;
											} else {
												comment_text_scroll += `<li><a class="dropdown-item" href="#" href="#"></i>&emsp;신고하기</a></li>`;
											}
											comment_text_scroll += `</ul>`
											comment_text_scroll += `</div>`
											comment_text_scroll += `<img class="img-fluid rounded-circle" src="../assets/img/messages-2.jpg" style="width: 40px;">`;
											comment_text_scroll += `<span style="margin-left: 10px;"><a href="#" style="color: black; cursor:pointer;">${comment.mglgUser.userName}</a></span>`;
											comment_text_scroll += `<div style="word-break: keep-all;">${comment.commentContent}`;
											comment_text_scroll += `<br><textarea id="update_text${comment.commentId}" style="width:100%; overflow:hidden; resize: none; display:none;" spellcheck="false" onkeydown="resize(this)" onkeyup="resize(this)">${comment.commentContent}</textarea>`;
											comment_text_scroll += `<button class="btn cancle_comment" id="cancle_comment${comment.commentId}" style="float:right; display:none;">취소</button>`;
											comment_text_scroll += `<button class="btn update_comment" id="update_comment${comment.commentId}" style="float:right; display:none;">수정</button></div></div>`;

										}
										//댓글을 화면에 뿌리는 상위 태그는 id가 comment인 div태그 따라서 그 자식 태그에 append한다.
										//$("#comment_scroll_div").html(comment_text_scroll);
										$("#comment" + postId).append(comment_text_scroll);
										//$('#msgModal').modal("show");
										//이벤트 리스너 함수 호출
										//이벤트 넣기
										$.comment_insert();
										$.comment_update();
										$.comment_delete();
									},
									error: function (e) {
										console.log("댓글 무한 로딩 에러");
										console.log(e);
									}
								});
							}
						}
					});
				}


			});	//j쿼리 종료

			//지도 윈도우창 띄우기
			let pop;
			function new_window() {
				pop = window.open(
					"/post/map",
					"kakaoMap",
					"width=800, height=500, top=50, left=50, toolbar=no, location=no, status=no, memubar=no, scrollbars=no, resizable=no"
				);
			}
			//지도 윈도우창 종료
			function closeCallback() {

				pop.close();
			}

			//수정모드에서 제목변경시 실행될 메소드
			function fnChangeContent(input) {
				//글을 변경하기위해 텍스트박스를 수정할 경우 해당 텍스트박스의 내용을 숨겨진 태그들에 뿌려줌.
				//$("#postContent").text($(input).text() + "");
				$("#postContentIn").val($(input).val());
				console.log($("#post").val($(input).val()));
				$("#postContent").val()
				/*
				if($(input).val() != $(input).parent().attr("data-board-title")) {
				   $(input).parent().attr("data-new-title", $(input).val());
				   $("#statusTd" + $(input).parent().attr("data-board-no")).text("U");
				   $("#status" + $(input).parent().attr("data-board-no")).val("U");
				   $("#status" + $(input).parent().attr("data-board-no")).attr("data-new-title", $(input).val());
				} else {
				   $("#statusTd" + $(input).parent().attr("data-board-no")).text("");
				   $("#status" + $(input).parent().attr("data-board-no")).val("");
				}      
				*/
			}

		</script>
	</th:block>
</head>
<!-- head 영역 끝 -->

<body>

	<main layout:fragment="main" id="main" class="main">
		<div id="selectedPost">

		</div>
		<div class="pagetitle">
			<h1>HOME</h1>
		</div><!-- End Page Title -->

		<section class="section dashboard">
			<div class="row">
				<!--왼쪽 라인을 8로 오른쪽 라인을 4 비율로 나눔(페이지 100% = 12)-->
				<!-- Left side columns -->
				<div class="col-lg-8">
					<div class="row">
						<!-- Recent Sales -->
						<div class="col-12">
							<!-- 작성 하는 부분 -->
							<div class="card recent-sales overflow-auto">
								<div class="card-body">
									<button class="btn" id="res_select_btn" onclick="new_window()">식당 하는 지도 선택
										버튼</button>
									<form id="insert_form" name="insertForm" enctype="multipart/form-data"
										action="/post/insertPost" method="post">
										<h5 class="card-title" style="margin-bottom: -10px;">What's happening?</h5>

										<input type="text" id="inputRestNm" name="inputRestNm" value="기본레스토랑"><br>
										<input type="hidden" id="userName" name="userName"
											th:value="${loginUser.userName}">
										<div class="box" id="imagePreview">
											<!-- 이미지를 따로 미리 임시 저장하는 공간 -->
											<div id="image_preview">
												<input type="file" id="btnAtt" name="uploadFiles" multiple="multiple">
												<div id="attZone" data-placeholder="파일을 첨부하려면 파일선택 버튼을 누르세요."></div>
											</div>
										</div>
										<div class="buttons" id="postFileButton">
											<button id="postFileRequest">파일 관리창 열기</button>&emsp;
											<button id="postFileUpdate">파일 업로드 하기</button>
										</div>
										<!-- Quill Editor Default(퀼 에디터 텍스트 에어리어) -->
										<div class="quill-editor-default">
											<h2>write your daily life</h2>
											<p> </p>
										</div>
										<!-- End Quill Editor Default -->
										<!-- 게시글 작성을 form 으로 넘길예정 hidden으로 텍스트 에어리어 값을 받아올것임.
										 버튼을 두개로 따로 처리하기보단 위에서 한번에 바로처리 하기위해 폼을 올림. -->
										<!--<form id="insert_form" enctype="multipart/form-data" action="/post/insertPost" method="post">-->
										<input type="hidden" id="restNm" name="restNm" value="">
										<input type="hidden" id="postContent" name="postContent" value="">
										<div style="margin-bottom: 5px;">
											<label id="hashTag_label1">&emsp;# <input type="text" id=hashTag1
													name="hashTag1" class="hashTag_text" placeholder="태그 입력"
													onfocus="this.placeholder=''"
													onblur="this.placeholder='태그 입력'"></label>
											<label id="hashTag_label2" style="display: none;">&emsp;# <input type="text"
													id=hashTag2 name="hashTag2" class="hashTag_text" placeholder="태그 입력"
													onfocus="this.placeholder=''"
													onblur="this.placeholder='태그 입력'"></label>
											<label id="hashTag_label3" style="display: none;">&emsp;# <input type="text"
													id=hashTag3 name="hashTag3" class="hashTag_text" placeholder="태그 입력"
													onfocus="this.placeholder=''"
													onblur="this.placeholder='태그 입력'"></label>
											<label id="hashTag_label4" style="display: none;">&emsp;# <input type="text"
													id=hashTag4 name="hashTag4" class="hashTag_text" placeholder="태그 입력"
													onfocus="this.placeholder=''"
													onblur="this.placeholder='태그 입력'"></label>
											<label id="hashTag_label5" style="display: none;">&emsp;# <input type="text"
													id=hashTag5 name="hashTag5" class="hashTag_text" placeholder="태그 입력"
													onfocus="this.placeholder=''"
													onblur="this.placeholder='태그 입력'"></label>

										</div>
										<!--식당정보 후에 필요 없는것은 hidden예정-->
										<input type="text" id="res_place_name" name="resName">
										<input type="text" id="res_address_name" name="resAddress">
										<input type="text" id="res_road_address_name" name="resRoadAddress">
										<input type="text" id="res_phone" name="resPhone">
										<input type="text" id="res_category_name" name="resCategory">

										<input type="button" class="btn" id="insert_board" value="작성"
											style="background-color: #4154f1; color: white; float: right;">
									</form>
								</div>
							</div><!-- End Recent Sales -->
						</div>
						<div th:each="post : ${postList}" class="col-12 post">
							<input type="hidden" th:value="${post.betweenDate}">
							<!-- 파일의 개수가 몇개 오는지 테스트 하는 임시 자료 추후에 숨김 처리 할 예정 -->
							<input type="text" th:id="'fileListSize' + ${post.postId}" th:value="${post.fileLength}">

							<div class="card recent-sales">
								<div class="card-body">
									<!-- 오른쪽 정렬된 시간, 드롭다운 버튼 -->
									<div class="filter" style="margin-top: 15px;">
										<a style="margin-right: 20px;">
											<span th:if="${post.betweenDate / 60 / 60 / 24 / 30 / 12 >= 1}"
												th:text="${T(java.lang.Math).floor(post.betweenDate / 60 / 60 / 24 / 30 / 12).intValue()} + '년 전'" />
											<span
												th:if="${post.betweenDate / 60 / 60 / 24 / 30 / 12 < 1 && post.betweenDate / 60 / 60 / 24 / 30 >= 1}"
												th:text="${T(java.lang.Math).floor(post.betweenDate / 60 / 60 / 24 / 30).intValue()} + '달 전'" />
											<span
												th:if="${post.betweenDate / 60 / 60 / 24 / 30 / 12 < 1 && post.betweenDate / 60 / 60 / 24 / 30 < 1 && post.betweenDate / 60 / 60 / 24 >= 1}"
												th:text="${T(java.lang.Math).floor(post.betweenDate / 60 / 60 / 24).intValue()} + '일 전'" />
											<span
												th:if="${post.betweenDate / 60 / 60 / 24 / 30 / 12 < 1 && post.betweenDate / 60 / 60 / 24 / 30 < 1 && post.betweenDate / 60 / 60 / 24 < 1 && post.betweenDate / 60 / 60 >= 1}"
												th:text="${T(java.lang.Math).floor(post.betweenDate / 60 / 60 ).intValue()} + '시간 전'" />
											<span th:if="${post.betweenDate / 60 / 60 / 24 / 30 / 12 < 1 && post.betweenDate / 60 / 60 / 24 / 30 < 1
														   && post.betweenDate / 60 / 60 / 24 < 1 && post.betweenDate / 60 / 60 < 1}"
												th:text="${T(java.lang.Math).floor(post.betweenDate / 60).intValue()} + '분 전'" />
										</a>
										<a class="icon" href="#" data-bs-toggle="dropdown"><i
												class="bi bi-three-dots"></i></a>
										<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
											<form th:action="@{/user/reportUser(userId=${post.userId})}" method="post">
												<li>
													<input type="submit" class="dropdown-item" value="유저 신고하기">
												</li>
											</form>
											<form th:action="@{/post/reportPost(postId=${post.postId})}" method="post">
												<li>
													<input type="submit" class="dropdown-item" value="포스트 신고하기">
												</li>
											</form>
										</ul>
									</div>
									<!-- 이름부분 후에 스크립트로 for문 예정 -->
									<div class="card-title">
										<img class="img-fluid rounded-circle" src="../assets/img/messages-1.jpg"
											style="width: 40px;">
										<a href="#" class="card-title" th:text="${post.userNick}"></a>
									</div>

									<form th:id="'updateForm' + ${post.postId}" enctype="multipart/form-data">
										<!-- 게시글 사진 부분 -->
										<!-- imgArea는 반복문을 사용해 2차원 배열 처럼 사용되어 파일의 내용을 표시하게됨. -->
										<div class="activity" style="margin-bottom: 10px;"
											th:id="'restImgBox' + ${post.postId}">
											<div th:id="'imgArea' + ${post.postId}">
												<div th:each="file : ${post.fileList}"
													th:class="'fileList' + ${post.postId}"
													th:value="${file.postFileId}">
													<!--<input type="text" th:id="'postFileNm' + ${post.postId}" value="">
														<input type="text" th:id="'postFileId' + ${post.postId}" value="">-->
													<div th:if="${#authentication.principal.mglgUser.userId == post.userId}"
														style="position: relative;">
														<input type="hidden" th:id="'postFileId' + ${file.postFileId}"
															th:class="'postFileId' + ${file.postId}" name="postFileId"
															th:value="${file.postFileId}">
														<input type="hidden" th:id="'postFileNm' + ${file.postFileId}"
															class="postFileNm" name="postFileNm"
															th:value="${file.postFileNm}">
														<input type="hidden" th:id="'postId' + ${file.postFileId}"
															th:class="'postId' + ${file.postId}" name="postId"
															th:value="${file.postId}">

														<input type="file" th:id="'changedFile' + ${file.postFileId}"
															th:name="'changedFile' + ${file.postFileId}"
															style="display: none;"
															th:onchange="fnGetChangedFileInfo([[${file.postFileId}]], [[${postStat.index}]], event)">

														<img th:if="${file.postFileCate} == 'img'"
															th:id="'img' + ${file.postFileId}"
															th:src="@{'/upload/' + ${file.postFileNm}}"
															style="width: 100%; height: 100%; z-index: none; cursor: pointer;"
															class="fileImg"
															th:onclick="fnImgChange([[${file.postFileId}]])">
														<img th:unless="${file.postFileCate} == 'img'"
															th:id="'img' + ${file.postFileId}"
															th:src="@{/assets/img/defaultFileImg.png}"
															style="width: 100%; height: 100%; z-index: none; cursor: pointer;"
															class="fileImg"
															th:onclick="fnImgChange([[${file.postFileId}]])">
														<input th:if="${post.userId} eq ${loginUser.userId}"
															type="button" class="btnDel" value="x"
															th:data-del-file="${file.postFileId}" style="width: 30px; height: 30px; position: absolute; right: 0px; bottom: 0px; 
																	   z-index: 999; background-color: rgba(255, 255, 255, 0.1); color: #f00;"
															th:onclick="fnPostImgDel(event)">
														<p th:id="'fileNm' + ${file.postFileId}"
															style="display: none; font-size: 8px; cursor: pointer;"
															th:onclick="fnFileDown([[${file.postId}]], [[${file.postFileId}]])"
															th:text="${file.postFileOriginNm}">
													</div>
													<div
														th:if="${#authentication.principal.mglgUser.userId != post.userId}">
														<img th:src="@{'/upload/' + ${file.postFileNm}}">
													</div>
												</div>
											</div>
										</div>
										<div class="uploadFileSpace">
											<input type="file" th:id="'updateBtnAtt' + ${post.postId}"
												class="updateBtnAtt" th:data-post-id="${post.postId}" name="uploadFiles"
												multiple="multiple">
										</div>
										<div class="changedFileSpace">
											<input type="file" th:id="'changedFiles' + ${post.postId}"
												name="changedFiles" value="" multiple="multiple">
										</div>
										<div th:id="'postAttZone' + ${post.postId}"
											data-placeholder="파일을 첨부하려면 파일선택 버튼을 누르세요."></div>
										<input type="hidden" name="postId" th:value="${post.postId}">
										<input type="hidden" name="originFiles" th:id="'originFiles' + ${post.postId}"
											value="">
										<input type="hidden" id="userId" name="userId" th:value="${post.userId}">
										<input type="hidden" id="postContentIn" name="postContent"
											th:value="${post.postContent}">
										<input type="hidden" name="postDate" th:value="${post.postDate}">
										<input type="hidden" name="restNm" th:value="${post.restNm}">
									</form>
									<div class="buttons fileBtns" th:id="'buttonBox' + ${post.postId}"
										th:if="${post.userId} eq ${loginUser.userId}" th:value="${post.postId}">
										<button type="button" th:id="'fileRequest' + ${post.postId}"
											th:value="${post.postId}">파일 관리창 열기</button>&emsp;
										<!--<button type="button" th:id="'fileRemove' + ${post.postId}">파일 전부 삭제</button>-->
									</div>
									<div class="activity">
										<!-- 게시글 내용부분-->
										
										<div th:id="'postContent' + ${post.postId}" th:text="${post.postContent}"></div>
										<div th:id="'upTitle' + ${post.postId}" th:text="'수정할 게시글 내용'"></div>
										<textarea th:id="'contentIn' + ${post.postId}" th:text="${post.postContent}" style="width: 85%;">
										</textarea>

										<!-- 내부 서버로 옮기는 데이터를 모음. 추후에 이미지도 다룸. -->
										<form class="data" action="/post/deletePost" th:method="post">
											<input type="hidden" id="postId" name="postId" th:value="${post.postId}">
											<input type="hidden" id="restNmIn" name="restNm" th:value="${post.restNm}">
											<input type="hidden" id="postDate" name="postDate"
												th:value="${post.postDate}">
											<input type="hidden" name="fileSize" id="fileSize"
												th:value="${post.fileLength}">
										</form>

									</div>
									<!-- 해시태그 -->
									<div class="activity">
										<br>
										<a href="#" style="color: blue;" th:if="${post.hashTag1}!=''">&emsp;#<span th:text="${post.hashTag1}"></span></a>
										<a href="#" style="color: blue;" th:if="${post.hashTag2}!=''">&emsp;#<span th:text="${post.hashTag2}"></span></a>
										<a href="#" style="color: blue;" th:if="${post.hashTag3}!=''">&emsp;#<span th:text="${post.hashTag3}"></span></a>
										<a href="#" style="color: blue;" th:if="${post.hashTag4}!=''">&emsp;#<span th:text="${post.hashTag4}"></span></a>
										<a href="#" style="color: blue;" th:if="${post.hashTag5}!=''">&emsp;#<span th:text="${post.hashTag5}"></span></a>
									</div>

									<!--좋아요 댓글 지도-->
									<div class="activity">
										<i th:if="${post.postLike} == 'N'" class="ri-heart-3-line post_like"
											th:id="${post.postId}"
											style="font-size: 30px; margin-right: 5px; color:black; cursor: pointer;"></i>
										<i th:if="${post.postLike} == 'Y'" class="ri-heart-3-line post_like"
											th:id="${post.postId}"
											style="font-size: 30px; margin-right: 5px; color:red; cursor: pointer;"></i>
										<i class="ri-message-3-line msg_icon" th:id="${post.postId}"
											style="font-size: 30px; margin-right: 5px; color:black; cursor: pointer;"></i>
										<i th:if="${post.restaurant} == 'Y'" class="ri-map-pin-2-line map_icon"
											th:id="${post.postId}"
											style="font-size: 30px; margin-right: 5px; color:black; cursor: pointer;"></i>
										<br>
										<!--좋아요 숫자 필드-->
										<a>좋아요 <span th:id="'likeCnt' + ${post.postId}"
												th:text="${post.likeCnt}"></span>개</a>
									</div>
									<!--식당 이름 임시 디버깅-->
									<span th:text="${post.resName}"></span>
									<!-- 친구 식사 했는지 확인 필드 -->
									<div class="activity" style="text-align: center;" th:if="${post.resCnt} != '0'">
										<hr>
										<a href="#"><span th:text="${loginUser.userName}"></span>님의 친구 <span
												th:text="${post.resCnt}"></span>명이
											<span th:text="${post.resName}"></span> 에서 식사하셨어요!</a>
									</div>
									<button type="button" class="updateBtn" id="updateButton"
									th:value="${post.postId}" th:if="${post.userId} eq ${loginUser.userId}">게시글
									수정</button>
								</div>
							</div>
						</div>
					</div>
					<!-- End Left side columns -->
					<!--스크롤이 맨 아래에 닿으면 이 위치에 작성됨-->
					<div id="post_scroll_div" class="row"></div>
				</div>
				<!-- Right side columns -->
				<div class="col-lg-4 col-xxl-3">
					<!-- Recent Activity -->
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"
								style="text-align: center; font-size: larger; font-weight: bold; margin-top:10px;">지금 뜨는
								먹거리 <span>| Today</span></h5>
							<div class="activity">
								<div id="today_eat">
									<ol>
										<li><a href="#"><b>#치킨</b></a></li>
										<li><a href="#"><b>#보쌈</b></a></li>
										<li><a href="#"><b>#연어초밥</b></a></li>
										<li><a href="#"><b>#우육면</b></a></li>
										<li><a href="#"><b>#마라탕</b></a></li>
										<li><a href="#"><b>#짜장면</b></a></li>
										<li><a href="#"><b>#라멘</b></a></li>
										<li><a href="#"><b>#갈비</b></a></li>
										<li><a href="#"><b>#곱창</b></a></li>
										<li><a href="#"><b>#막창</b></a></li>

									</ol>
								</div>
							</div>
						</div>
					</div><!-- End Recent Activity -->
				</div><!-- End Right side columns -->
		</section>
		<!-- 댓글 모델 -->
		<div class="modal fade" id="msgModal" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content" id="modal-content">
					<div class="modal-header">
						<!-- 댓글 작성 -->
						<textarea id="" style="width:70%; height: 30px; overflow:hidden; resize: none;"
							spellcheck="false" onkeydown="resize(this)" onkeyup="resize(this)">asdf</textarea>
						<button class="btn">작성</button>
					</div>
					<!-- 댓글 들어가는곳 -->
					<div class="modal-body overflow-auto">
						<div style="max-height: 30em;">
							<div class="comment_info" style="margin-bottom: 20px; position:relative">
								<div class="filter" style="margin-top: 15px; position: absolute; top:-12px; right:10p;">
									<a class="icon" href="#" data-bs-toggle="dropdown"><i
											class="bi bi-three-dots"></i></a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li><a class="dropdown-item" href="#">
												</i>&emsp;신고하기</a></li>
									</ul>
								</div>
								<img class="img-fluid rounded-circle" src="../assets/img/messages-2.jpg"
									style="width: 40px;">
								<span style="margin-left: 10px;"><a href="#"
										style="color: black; cursor:pointer;">머글랭</a></span>
								<div style="word-break: keep-all;">Lorem ipsum dolor, sit amet consectetur adipisicing
									elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!
								</div>
							</div>
							<!--<div id="comment_scroll_div" class="overflow-auto"></div>-->
							<!--스크롤이 맨 아래에 닿으면 이 위치에 작성됨-->
						</div>
					</div>
					<div id="comment_scroll_div" class="col-12"></div>
				</div>
			</div>

		</div>

		<!-- 식당 정보 표시 모델 -->
		<div class="modal fade" id="map_modal" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content" id="modal-content">
					<div class="modal-body">
						<div id="map" style="width:100%; height:450px;"></div>

						<script type="text/javascript"
							src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ce59e263f5e4e5aeed4d1557b6676a5c&libraries=services"></script>
						<script>
							$(function () {
								//지도 모달 부르는 로직
								$.map_button = function () {
									$(".map_icon").click(function (e) {
										let postId = e.target.id;
										console.log(postId + "번 포스트 맵")
										$.ajax({
											url: '/post/PostMap',
											type: 'get',
											data: {
												postId: postId
											},
											success: function (obj) {
												//모달을 실행하고
												$('#map_modal').modal("show");
												setTimeout(function () {
													map.relayout();
												}, 500);

												//카카오 맵 호출
												var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
													mapOption = {
														center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
														level: 3 // 지도의 확대 레벨
													};

												// 지도를 생성합니다    
												var map = new kakao.maps.Map(mapContainer, mapOption);


												// 주소-좌표 변환 객체를 생성합니다
												var geocoder = new kakao.maps.services.Geocoder();

												// 주소로 좌표를 검색합니다
												geocoder.addressSearch(obj.resAddress, function (result, status) {

													// 정상적으로 검색이 완료됐으면 
													if (status === kakao.maps.services.Status.OK) {

														var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

														// 결과값으로 받은 위치를 마커로 표시합니다
														var marker = new kakao.maps.Marker({
															map: map,
															position: coords
														});

														// 인포윈도우로 장소에 대한 설명을 표시합니다
														var infowindow = new kakao.maps.InfoWindow({
															content: `<div style="width:150px; height:100px; padding:6px 0;">
															${obj.resName}<br>
															${obj.resAddress}<br>
															${obj.resPhone}
															
															</div>`
														});
														infowindow.open(map, marker);

														//검색해봐도 해결 방법이 없어서 약간의 가라/노가다 섞음
														//화면 크기에 따라 중앙 다르게 설정
														if ($(window).width() >= 992) {
															// 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
															map.setCenter(new kakao.maps.LatLng((Number)(result[0].y) + 0.0022, result[0].x - 0.0043));
														} else {
															map.setCenter(new kakao.maps.LatLng((Number)(result[0].y) + 0.0022, result[0].x - 0.0026));
														}

													}
												});
											},
											error: function (e) {
												console.log("에러에러");
											}
										});
									})
								}

								$.map_button();

							})

						</script>

					</div>
				</div>
			</div>

		</div>


	</main><!-- End #main -->
</body>













</html>