<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->

<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(function () {
				let list = $('.post').get();
				//퀼 텍스트 에어리어 소환
				new Quill('.quill-editor-default', {
					modules: {
						toolbar: [
							[{
								font: []
							}, {
								size: []
							}],
							["bold", "italic", "underline", "strike"],
							[{
								color: []
							},
							{
								background: []
							}
							],
							[{
								script: "super"
							},
							{
								script: "sub"
							}
							],
							[{
								list: "ordered"
							},
							{
								list: "bullet"
							},
							{
								indent: "-1"
							},
							{
								indent: "+1"
							}
							],
							["direction", {
								align: []
							}],
							["image"],
							["clean"]
						]
					},
					theme: 'snow'
				});
				
				//해시태그 이벤트
				for(let i = 1; i < 5; i++){
					$("#hashTag" + i).blur(function(){
						if($("#hashTag" + i).val() != ""){
							$("#hashTag_label"+ (i + 1)).css("display", "inline-block");
						}
					});
				}
				
				//작성 버튼
				$("#insert_board").click(function(){
					$("#postContent").val($(".ql-editor").html());
					$("#insert_form").submit();
				})
				
				//게시글에서 메세지버튼 누르면 메세지 창 나옴
				$("#msg_btn").click(function (e) {
					$('#msgModal').modal("show");
				})

				

				//게시글 수정 버튼을 클릭할시 해당 게시물의 편집 상태를 활성화 하는 이벤트를 발생
				for (let i = 0; i < list.length; i++) {
					$($('.updateBtn')[i]).click(function (e) {
						console.log("수정 버튼 클릭 해당 게시글 활성화");
						$("#selectedPost").css("z-index", "5").css("display", "block");
						$($('.post')[i]).clone().appendTo('#selectedPost');
						$('#selectedPost').children('.post').css("width", "85%")
							.css("height", "80%").css("padding", "80px").css("margin", "50px");
						$()

					});
				}
				//$("#updateButton").click(function(e) {
				//	console.log("수정 버튼 클릭 해당 게시글 활성화");
				//	$("#selectedPost").css("z-index", "5").css("display", "block");

				//});
			});
		</script>
	</th:block>

</head>
<!-- head 영역 끝 -->

<body>

	<main layout:fragment="main" id="main" class="main">
		<div id="selectedPost">

		</div>
		<div class="pagetitle">
			<h1>HOME</h1>
		</div><!-- End Page Title -->

		<section class="section dashboard">
			<div class="row">
				<!--왼쪽 라인을 8로 오른쪽 라인을 4 비율로 나눔(페이지 100% = 12)-->
				<!-- Left side columns -->
				<div class="col-lg-8">
					<div class="row">
						<!-- Recent Sales -->
						<div class="col-12">
							<!-- 작성 하는 부분 -->
							<div class="card recent-sales overflow-auto">
								<div class="card-body">
									<h5 class="card-title" style="margin-bottom: -10px;">What's happening?</h5>
									<!-- Quill Editor Default(퀼 에디터 텍스트 에어리어) -->
									<div class="quill-editor-default">
										<h2>write your daily life</h2>
										<h2> </h2>
										<p> </p>
									</div>
									<!-- End Quill Editor Default -->
									<!-- 게시글 작성을 form 으로 넘길예정 hidden으로 텍스트 에어리어 값을 받아올것임 -->
									<form id="insert_form" action="" method="">
										<input type="hidden" id="postContent" name="postContent" value="">
										<div style="margin-bottom: 5px;">
											<label id="hashTag_label1">&emsp;# <input type="text" id=hashTag1 name="hashTag1" class="hashTag_text" placeholder="태그 입력" onfocus="this.placeholder=''" onblur="this.placeholder='태그 입력'"></label>
											<label id="hashTag_label2" style="display: none;">&emsp;# <input type="text" id=hashTag2 name="hashTag2" class="hashTag_text" placeholder="태그 입력" onfocus="this.placeholder=''" onblur="this.placeholder='태그 입력'"></label>
											<label id="hashTag_label3" style="display: none;">&emsp;# <input type="text" id=hashTag3 name="hashTag3" class="hashTag_text" placeholder="태그 입력" onfocus="this.placeholder=''" onblur="this.placeholder='태그 입력'"></label>
											<label id="hashTag_label4" style="display: none;">&emsp;# <input type="text" id=hashTag4 name="hashTag4" class="hashTag_text" placeholder="태그 입력" onfocus="this.placeholder=''" onblur="this.placeholder='태그 입력'"></label>
											<label id="hashTag_label5" style="display: none;">&emsp;# <input type="text" id=hashTag5 name="hashTag5" class="hashTag_text" placeholder="태그 입력" onfocus="this.placeholder=''" onblur="this.placeholder='태그 입력'"></label>
											
										</div>
										<input type="button" class="btn" id="insert_board" value="작성"
											style="background-color: #4154f1; color: white; float: right;">
									</form>
								</div>
							</div>
						</div><!-- End Recent Sales -->
					</div>
					<div class="row">
						<div th:each="post : ${postList}" class="col-12 post">
							<div class="card recent-sales">
								<div class="card-body">
									<!-- 오른쪽 정렬된 시간, 드롭다운 버튼 -->
									<div class="filter" style="margin-top: 15px;">
										<a style="margin-right: 20px;">30분전</a>
										<a class="icon" href="#" data-bs-toggle="dropdown"><i
												class="bi bi-three-dots"></i></a>
										<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
											<li><a class="dropdown-item" href="#"><i
														class="ri-alarm-warning-line"></i>&emsp;신고하기</a></li>
										</ul>
									</div>
									<!-- 이름부분 후에 스크립트로 for문 예정 -->
									<div class="card-title">
										<img class="img-fluid rounded-circle" src="../assets/img/messages-1.jpg"
											style="width: 40px;">
										<a href="#" class="card-title" th:text="${post.restNm}"></a>
									</div>
									<!-- 게시글 사진 부분 -->
									<div class="activity" style="margin-bottom: 10px;">
										<img src="../assets/img/news-1.jpg" style="width: 100%;">
									</div>
									<div class="activity">
										<!-- 게시글 내용부분-->
										<div th:text="${post.postContent}">
										</div>
										<br>
										<!-- 해시태그 -->
										<a href="#" style="color: blue;">&emsp;#강남맛집</a>
										<a href="#" style="color: blue;">&emsp;#˘ᗜ˘</a>
										<a href="#" style="color: blue;">&emsp;#(๑╹ワ╹)</a>
									</div>
									<!-- 좋아요 댓글 아이콘 -->
									<div class="activity">
										<a href="#"><i class="ri-heart-3-line"
												style="font-size: 30px; margin-right: 5px; color:black"></i></a>
										<a href="#" id="msg_btn"><i class="ri-message-3-line"
												style="font-size: 30px; margin-right: 5px; color:black;"></i></a>
										<a href="#"><i class="ri-send-plane-2-line"
												style="font-size: 30px; margin-right: 5px; color:black;"></i></a>
										<br>
										<!--좋아요 숫자 필드-->
										<a>좋아요 <span>21</span>개</a>
										<hr>
									</div>
									<form action="/post/updatePost" method="post">
										<input type="hidden" id="userId" name="userId">
										<input type="hidden" id="postId" name="userId">
									</form>
									<!-- 친구 식사 했는지 확인 필드 -->
									<div class="activity" style="text-align: center;">
										<a href="#"><span>six</span>님 외 16명이 <span>서울 강남구 강남대로 36</span>
											<span>감성타코</span>에서 식사하셨어요!</a>

										<button class="updateBtn" id="updateButton"
											th:if="${post.userId} eq ${loginUser.userId}">게시글 수정</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="newPost">
						<a th:href="@{/post/newPost}">새글 쓰기</a>
					</div>
				</div><!-- End Left side columns -->

				<!-- Right side columns -->
				<div class="col-lg-4 col-xxl-3">

					<!-- Recent Activity -->
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"
								style="text-align: center; font-size: larger; font-weight: bold; margin-top:10px;">지금 뜨는
								먹거리 <span>| Today</span></h5>
							<div class="activity">
								<div id="today_eat">
									<ol>
										<!--
										<li><a href="#">#치킨</a></li>
										<li><a href="#">#보쌈</a></li>
										<li><a href="#">#연어초밥</a></li>
										<li><a href="#">#우육면</a></li>
										<li><a href="#">#마라탕</a></li>
										<li><a href="#">#짜장면</a></li>
										<li><a href="#">#라멘</a></li>
										<li><a href="#">#갈비</a></li>
										<li><a href="#">#곱창</a></li>
										<li><a href="#">#막창</a></li> -->

										<li><a href="#"><b>#치킨</b></a></li>
										<li><a href="#"><b>#보쌈</b></a></li>
										<li><a href="#"><b>#연어초밥</b></a></li>
										<li><a href="#"><b>#우육면</b></a></li>
										<li><a href="#"><b>#마라탕</b></a></li>
										<li><a href="#"><b>#짜장면</b></a></li>
										<li><a href="#"><b>#라멘</b></a></li>
										<li><a href="#"><b>#갈비</b></a></li>
										<li><a href="#"><b>#곱창</b></a></li>
										<li><a href="#"><b>#막창</b></a></li>

									</ol>
								</div>

							</div>

						</div>
					</div><!-- End Recent Activity -->
				</div><!-- End Right side columns -->


			</div>
		</section>
		<!-- 댓글 모델 -->
		<div class="modal fade" id="msgModal" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<!-- 댓글 작성 폼 -->
						<form class="form-inline" role="form">
							<input type="text" placeholder="댓글을 작성하세요!!" onfocus="this.placeholder=''"
								onblur="this.placeholder='댓글을 작성하세요!!'">
							<input type="submit" class="btn" value="작성">
						</form>
					</div>
					<!-- 댓글 들어가는곳 -->
					<div class="modal-body overflow-auto">
						<div id="comment" style="max-height: 30em;">
							<div class="comment_info" style="margin-bottom: 20px;">
								<img class="img-fluid rounded-circle" src="../assets/img/messages-2.jpg"
									style="width: 40px;">
								<span style="margin-left: 10px;">머글랭</span>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
							</div>
							<div class="comment_info" style="margin-bottom: 20px;">
								<img class="img-fluid rounded-circle" src="../assets/img/messages-1.jpg"
									style="width: 40px;">
								<span style="margin-left: 10px;">머글랭</span>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
							</div>
							<div class="comment_info" style="margin-bottom: 20px;">
								<img class="img-fluid rounded-circle" src="../assets/img/messages-3.jpg"
									style="width: 40px;">
								<span style="margin-left: 10px;">머글랭</span>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
							</div>
						</div>
					</div>
				</div>
			</div>

	</main><!-- End #main -->
</body>














</html>