<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			let postIdList = [];
			let flagList = [];
			let list = $('.post').get();
			
			for(let i = 0; i < list.length; i++) {
				flagList.push(false);
			}
			$(function () {
				let page_num = 0;
				let totalPages = 0;
				var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
				var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
					return new bootstrap.Tooltip(tooltipTriggerEl)
				});

				//시작시 포스트 리스트 불러오는 로직
				$.ajax({
					url: '/post/getFollowingPost',
					type: 'get',
					data: {page: page_num},
					success: function (obj) {
						console.log(obj);
						console.log(obj.pageItems);
						htmlStr = '';
						let elements = page_num * obj.pageItems.pageable.pageSize;
						console.log("시작 인덱스 : " + elements + ", 게시글 개수 : " + obj.pageItems.numberOfElements);
						for (let i = 0; i < obj.pageItems.content.length; i++) {
							htmlStr += followPost(obj.pageItems.content[i]);
							
						}
						$("#divContent").html(htmlStr);
						for(let i = 0; i < obj.pageItems.content.length; i++) {
							$.followingEvent(elements + i, obj.pageItems.content[i].postId);
						}
						console.log("좋아요 이벤트, 댓글 기능 활성화 작업 시작.");
						//선택자로 직접 id를 언급해서 사용하니깐 작동이 또 잘됨. 로드 순서에 따라 직접 지정과 #, . 지정의 적용시점이 다른거 같음.
						console.log($("input[id='loginUserId']").val());
						let myId = Number($("input[id='loginUserId']").val());
						$.like_button(myId);
						$.comment_button();
						//$.map_button();
						page_num++;
					},
					error: function (e) {
						console.log("실패")
						console.log(e);
					}
				});

				//시작시 팔로잉 리스트 불러옴
				$.ajax({
					url: '/social/following',
					type: 'get',
					data: {
						page: page_num,
						searchKeyword: ""
					},
					success: function (obj) {
						let htmlStr = '';
						for (let i = 0; i < obj.pageItems.content.length; i++) {
							htmlStr += `

                     			<div class="" style="width: 100%; height: 70px; border-radius: 16px;">
										<!--친구 사진-->
										<div style="width: 30%; margin-top: 10px; float: left;"><img
												class="img-fluid rounded-circle" 
												src="/upload/${obj.pageItems.content[i].followingProfile.userProfileNm}"
												style="width: 50px; height:50px"></div>
										<!--친구 닉네임, 아이디-->
										<div style="width: 60%; margin-top: 13px; float: left;">
											<div><a href="/social/otherUser?userId=${obj.pageItems.content[i].userId}" 
											style="font-weight: bold; color: black;">${obj.pageItems.content[i].userName}</a></div>
											<div style="color: #aaaaaa; font-size: x-small;">
											${obj.pageItems.content[i].email}
											</div>
										</div>
									</div>
                     `
						}

						$("#div_body").html(htmlStr);
						totalPages = obj.pageItems.totalPages;
					},
					error: function (e) {
						console.log("ㅁㄴㅇㅁㄴㅇ실패")
						console.log(e);
					}
				});
				
				$("#btn_next").click(function () {
					console.log("누르기전page_num===" + page_num)
					if (page_num == totalPages - 1) {
						return;
					}
					page_num = page_num + 1;

					$.ajax({
						url: '/social/following',
						type: 'get',
						data: {
							page: page_num,
							searchKeyword: ""
						},
						success: function (obj) {
							console.log(obj)
							var htmlStr = "";
							totalPages = obj.pageItems.totalPages;
							for (let i = 0; i < obj.pageItems.content.length; i++) {
								htmlStr += `
                     			<div class="" style="width: 100%; height: 70px; border-radius: 16px; ">
										<!--친구 사진-->
										<div style="width: 30%; margin-top: 10px; float: left;"><img
												class="img-fluid rounded-circle" 
												src="/upload/${obj.pageItems.content[i].followingProfile.userProfileNm}"
												style="width: 50px; height:50px"></div>
										<!--친구 닉네임, 아이디-->
										<div style="width: 60%; margin-top: 13px; float: left;">
											<div><a href="/social/otherUser?userId=${obj.pageItems.content[i].userId}" 
											style="font-weight: bold; color: black;">${obj.pageItems.content[i].userName}</a></div>
											<div style="color: #aaaaaa; font-size: x-small;">
											${obj.pageItems.content[i].email}
											</div>
										</div>
									</div>
							`
							}
							$("#div_body").html(htmlStr)

						},
						error: function (e) {
							console.log(e);
						}
					});

				});
				
				$("#btn_prev").click(function () {
					console.log("누르기전page_num===" + page_num);
					if (page_num < 1) {
						return;
					}
					page_num = page_num - 1;
					console.log("누른후page_num===" + page_num);
					$.ajax({
						url: '/social/following',
						type: 'get',
						data: {
							page: page_num,
							searchKeyword: ""
						},
						success: function (obj) {
							console.log(obj)
							var htmlStr = "";
							totalPages = obj.pageItems.totalPages;
							for (let i = 0; i < obj.pageItems.content.length; i++) {
								htmlStr += `
                     			<div class="" style="width: 100%; height: 70px; border-radius: 16px;">
										<!--친구 사진-->
										<div style="width: 30%; margin-top: 10px; float: left;"><img
												class="img-fluid rounded-circle" 
												src="/upload/${obj.pageItems.content[i].followingprofile.userProfileNm}"
												style="width: 50px; height:50px"></div>
										<!--친구 닉네임, 아이디-->
										<div style="width: 60%; margin-top: 13px; float: left;">
											<div><a href="/social/otherUser?userId=${obj.pageItems.content[i].userId}" 
											style="font-weight: bold; color: black;">${obj.pageItems.content[i].userName}</a></div>
											<div style="color: #aaaaaa; font-size: x-small;">
											${obj.pageItems.content[i].email}
											</div>
										</div>
									</div>
							`
							}
							$("#div_body").html(htmlStr)

						},
						error: function (e) {
							console.log(e);
						}
					});

				})
				//검색 이벤트 
				$("#btn_search").click(function () {

					let followingSearch = $("#followingSearch").val()
					$.ajax({
						url: '/social/followingSearch',
						type: 'get',
						data: {
							page: 0,
							searchKeyword: followingSearch
						},
						success: function (obj) {
							console.log(obj)
							var htmlStr = "";
							totalPages = obj.pageItems.totalPages;
							for (let i = 0; i < obj.pageItems.content.length; i++) {
								htmlStr += `
                     			<div class="" style="width: 100%; height: 70px; border-radius: 16px; ">
										<!--친구 사진-->
										<div style="width: 30%; margin-top: 10px; float: left;"><img
												class="img-fluid rounded-circle" src="/assets/img/messages-1.jpg"
												style="width: 50px;"></div>
										<!--친구 닉네임, 아이디-->
										<div style="width: 60%; margin-top: 13px; float: left;">
											<div><a href="/social/otherUser?userId=${obj.pageItems.content[i].userId}" 
											style="font-weight: bold; color: black;">${obj.pageItems.content[i].userName}</a></div>
											<div style="color: #aaaaaa; font-size: x-small;">
											${obj.pageItems.content[i].email}
											</div>
										</div>
									</div>
							`
							}
							$("#modalBody").html(htmlStr)
							$('#followModal').modal("show");

						},
						error: function (e) {
							console.log(e);
						}
					});

				})



			});
		</script>
	</th:block>

</head>
<!-- head 영역 끝 -->

<body>
	<main layout:fragment="main" id="main" class="main">\
	<input type="hidden" th:value="${userId}" id="loginUserId">
		<div class="pagetitle">
			<h1>Following</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
					<li class="breadcrumb-item active">Following</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->

		<section class="section dashboard">
			<div class="row">

				<!-- Left side columns -->
				<div class="col-lg-8">
					<div class="row">
						<div class="col-12" id="divContent">

						</div>
					</div>
				</div><!-- End Left side columns -->

				<!-- Right side columns -->
				<div class="col-lg-4 col-xxl-3">
					<div class="card" style="text-align: center;">
						<h5 class="card-title" style="font-weight: bold;">Following</h5>
						<!--검색-->
						<div class="card-body">
							<input type="text" placeholder="팔로워 검색" onfocus="this.placeholder=''"
								onblur="this.placeholder='이름으로 검색'" id="followingSearch">
							<input type="button" value="검색" id="btn_search">
						</div>
						<!--붙여넣는곳-->
						<div class="card-body" style="position: relative;">
							<button id="btn_prev"
								style="position: absolute;  top: 40%; left:4%; transform: translate(-50%, -50%); background:none; border:none;">
								<img th:src="@{/assets/img/left_btn.png}">
							</button>
							<button id="btn_next"
								style="position: absolute;  top: 40%; right:4%; transform: translate(50%, -50%); background:none; border:none;">
								<img th:src="@{/assets/img/right_btn.png}">
							</button>
							<div id="div_body"></div>
						</div>
					</div>
				</div>


			</div>
		</section>
		<!-- 댓글 모델 -->
		<div class="modal fade" id="msgModal" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content" id="modal-content">
					<div class="modal-header">
						<form class="form-inline" role="form">
							<input type="text" placeholder="댓글을 작성하세요!!" onfocus="this.placeholder=''"
								onblur="this.placeholder='댓글을 작성하세요!!'">
							<input type="button" value="작성">
						</form>
					</div>
					<div class="modal-body overflow-auto">
						<div id="comment" style="max-height: 30em;">
							<div class="comment_info" style="margin-bottom: 20px;">
								<img class="img-fluid rounded-circle" th:src="@{/assets/img/messages-2.jpg}"
									style="width: 40px;">
								<span style="margin-left: 10px;">머글랭</span>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
							</div>
							<div class="comment_info" style="margin-bottom: 20px;">
								<img class="img-fluid rounded-circle" th:src="@{/assets/img/messages-1.jpg}"
									style="width: 40px;">
								<span style="margin-left: 10px;">머글랭</span>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
							</div>
							<div class="comment_info" style="margin-bottom: 20px;">
								<img class="img-fluid rounded-circle" th:src="@{/assets/img/messages-3.jpg}"
									style="width: 40px;">
								<span style="margin-left: 10px;">머글랭</span>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main><!-- End #main -->
</body>

</html>