<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	
	>
	<head>
		<title>Welcome to MUGLANG</title>
		<style>
        #container { 
            width: 300px;
            height: 280px; 
            margin: 100px auto; 
            border: 1px solid grey; }
        img {
            width: 180px;
            display: block;
            margin: 20px auto;
        }
        h3 {
            margin: 30px auto;
            text-align: center;
        }
        </style>
        <!--<th:block layout:fragment="script">
			<script th:inline="javascript">
				$(function() {
					alert("hello!");
				});
			</script>
		</th:block>-->
		
		
	</head>
	<body>
	    <div id="container">
	        <form action="/user/loginProc" method="post">
	            <h3>MUGLANG에 로그인</h3>
	           	<a href="/oauth2/authorization/google">
	 	          <img th:src="@{/images/login_with_google/btn_google_signin_light_normal_web@2x.png}">
	        	</a><br>
           		<a href="/oauth2/authorization/kakao">
             	  <img th:src="@{/images/login_with_kakao/kakao_login_large_narrow.png}">
            	</a><br>
	            <a href="/oauth2/authorization/naver">
	              <img th:src="@{/images/login_with_naver/btnW_official.png}">
	            </a><br>
	          	<!-- 데이터 테스트를 위한 임시 로그인 (추후에는 지우면됨.)-->
	            <span>user-id(관리자로 임시로 만듬.)</span><input type="text" id="userId" name="userId" value="">
	            
	            <!-- 로그인 버튼 (SNS로그인으로 대체 되므로 추후에 지우면 됨.) -->
	            <input type="submit" value="로그인하기">
	        </form>

	    </div>		
	</body>
</html>
	