<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(function () {
				var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
				var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
					return new bootstrap.Tooltip(tooltipTriggerEl)
				})
			});
		</script>
	</th:block>

</head>
<!-- head 영역 끝 -->

<body>
	<main layout:fragment="main" id="main" class="main">
		<div class="pagetitle">
			<h1>내 게시물</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
					<li class="breadcrumb-item active">내 게시물</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->

		<section class="section dashboard">
			<div class="row">

				<!-- Left side columns -->
				<div class="col-lg-8">
					<div class="row">
						<div class="col-12">
							<div class="card recent-sales">
								<div class="card-body">
									<div class="filter" style="margin-top: 15px;">
										<!--위에 시간-->
										<a style="margin-right: 20px;">30분전</a>
										<!--신고하기 있는 버튼-->
										<a class="icon" href="#" data-bs-toggle="dropdown"><i
												class="bi bi-three-dots"></i></a>
										<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
											<li><a class="dropdown-item" href="#"><i
														class="ri-alarm-warning-line"></i>&emsp;신고하기</a></li>
										</ul>
									</div>
									<div class="card-title">
										<!--프로필 사진-->
										<img class="img-fluid rounded-circle" th:src="@{/assets/img/messages-1.jpg}"
											style="width: 40px;">
										<!--이름-->
										<a href="#" class="card-title">asdf</a>
									</div>
									<div class="activity" style="margin-bottom: 10px;">
										<!--내용 사진-->
										<img th:src="@{/assets/img/news-1.jpg}" style="width: 100%;">
									</div>
									<div class="activity">
										<div>
											<!--내용-->
											헤으응
										</div>
										<br>
										<!--태그-->
										<a href="#" style="color: blue;">&emsp;#강남맛집</a>
										<a href="#" style="color: blue;">&emsp;#˘ᗜ˘</a>
										<a href="#" style="color: blue;">&emsp;#(๑╹ワ╹)</a>
									</div>
									<!--아이콘들-->
									<div class="activity">
										<a href="#"><i class="ri-heart-3-line"
												style="font-size: 30px; margin-right: 5px; color:black"></i></a>
										<a href="#" id="msg_btn"><i class="ri-message-3-line"
												style="font-size: 30px; margin-right: 5px; color:black;"></i></a>
										<a href="#"><i class="ri-send-plane-2-line"
												style="font-size: 30px; margin-right: 5px; color:black;"></i></a>
										<br>
										<!--좋아요 숫자 넣는곳-->
										<a>좋아요 <span>21</span>개</a>
										<hr>
									</div>
									<!--친구, 외 몇명, 위치, 상호명-->
									<div class="activity" style="text-align: center;">
										<a href="#"><span>six</span>님 외 <span>16</span>명이 <span>서울 강남구 강남대로 36</span>
											<span>감성타코</span>에서 식사하셨어요!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- End Left side columns -->

				<!-- Right side columns -->
				<div class="col-lg-4 col-xxl-3">

					<!-- 지금뜨는 먹거리 -->
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"
								style="text-align: center; font-size: larger; font-weight: bold; margin-top:10px;">지금 뜨는
								먹거리 <span>| Today</span></h5>
							<div class="activity">
								<div id="today_eat">
									<ol>
										<!--
										<li><a href="#">#치킨</a></li>
										<li><a href="#">#보쌈</a></li>
										<li><a href="#">#연어초밥</a></li>
										<li><a href="#">#우육면</a></li>
										<li><a href="#">#마라탕</a></li>
										<li><a href="#">#짜장면</a></li>
										<li><a href="#">#라멘</a></li>
										<li><a href="#">#갈비</a></li>
										<li><a href="#">#곱창</a></li>
										<li><a href="#">#막창</a></li> -->

										<li><a href="#"><b>#치킨</b></a></li>
										<li><a href="#"><b>#보쌈</b></a></li>
										<li><a href="#"><b>#연어초밥</b></a></li>
										<li><a href="#"><b>#우육면</b></a></li>
										<li><a href="#"><b>#마라탕</b></a></li>
										<li><a href="#"><b>#짜장면</b></a></li>
										<li><a href="#"><b>#라멘</b></a></li>
										<li><a href="#"><b>#갈비</b></a></li>
										<li><a href="#"><b>#곱창</b></a></li>
										<li><a href="#"><b>#막창</b></a></li>

									</ol>
								</div>
							</div>
						</div><!-- End Recent Activity -->
					</div><!-- End Right side columns -->

				</div>


			</div>
		</section>

		<!-- 댓글 모델 -->
		<div class="modal fade" id="msgModal" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<form class="form-inline" role="form">
							<input type="text" placeholder="댓글을 작성하세요!!" onfocus="this.placeholder=''"
								onblur="this.placeholder='댓글을 작성하세요!!'">
							<input type="button" value="작성">
						</form>
					</div>
					<div class="modal-body overflow-auto">
						<div id="comment" style="max-height: 30em;">
							<div class="comment_info" style="margin-bottom: 20px;">
								<img class="img-fluid rounded-circle" th:src="@{/assets/img/messages-2.jpg}"
									style="width: 40px;">
								<span style="margin-left: 10px;">머글랭</span>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
							</div>
							<div class="comment_info" style="margin-bottom: 20px;">
								<img class="img-fluid rounded-circle" th:src="@{/assets/img/messages-1.jpg}"
									style="width: 40px;">
								<span style="margin-left: 10px;">머글랭</span>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
							</div>
							<div class="comment_info" style="margin-bottom: 20px;">
								<img class="img-fluid rounded-circle" th:src="@{/assets/img/messages-3.jpg}"
									style="width: 40px;">
								<span style="margin-left: 10px;">머글랭</span>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
								<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, ullam recusandae
									odit suscipit cumque nihil nulla ipsam obcaecati doloremque temporibus vel magni et
									cupiditate repudiandae esse ea repellat, laudantium inventore!</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main><!-- End #main -->
</body>

</html>