<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(function () {
				var page_num = 1;
				var page_num2 = 1;
				let totalPages = 0;
				var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
				var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
					return new bootstrap.Tooltip(tooltipTriggerEl)
				})
				userId = $("#hiddenId").val();
				$.ajax({
					url: '/social/otherUserFollow',
					type: 'get',
					data: {userId: $("#hiddenId").val()},
					success: function (obj) {
						let formStr = `
						<a href="/social/followOtherUser?userId=${userId}">
						팔로우 하기
						</a>
						`
						let formStr2 = `
						<a href="/social/unFollowOtherUser?userId=${userId}">
						언팔로우 하기
						</a>
						`

						if(obj.pageItems.content[0].reportCnt ==0){
							$("#followYn").html(formStr);
								console.log(formStr)
							}else{
							$("#followYn").html(formStr2);
								console.log(formStr)

							}
						console.log(obj.pageItems.content[0].reportCnt);
						let htmlStr = '';
						for (let i = 0; i < obj.pageItems.content.length; i++) {
							totalPages = obj.pageItems.totalPages;

							htmlStr += `
							<div class="" style="width: 100%; height: 70px;">
                                <div class="col-2" style="margin-top: 10px; float: left; text-align: center;"><img class="img-fluid rounded-circle" src="assets/img/messages-2.jpg" style="width: 50px;"></div>
                                <div class="col-10" style="margin-top: 13px; float: left; text-align: center; padding-left: -50%;">
                                    <div><a style="font-size" href="/social/otherUser?userId=${obj.pageItems.content[i].userId}">${obj.pageItems.content[i].userName}</a></div>
                                    <div style="color: #aaaaaa; font-size: x-small;" >${obj.pageItems.content[i].email}</div>
                                </div>
                            </div>
	
                    	 `

						}

						$("#appendDiv1").html(htmlStr);
					},
					error: function (e) {
						console.log(e);
					}
				});

				//팔로잉 리스트
				$.ajax({
					url: '/social/otherUserFollowing',
					type: 'get',
					data: {userId: $("#hiddenId").val()},
					success: function (obj) {
						let htmlStr = '';
						for (let i = 0; i < obj.pageItems.content.length; i++) {
							htmlStr += `
                     <div class="" style="width: 100%; height: 70px;">
                                <div class="col-2" style="margin-top: 10px; float: left; text-align: center;"><img class="img-fluid rounded-circle" src="assets/img/messages-2.jpg" style="width: 50px;"></div>
                                <div class="col-10" style="margin-top: 13px; float: left; text-align: center; padding-left: -50%;">
                                    <div><a style="font-size" href="/social/otherUser?userId=${obj.pageItems.content[i].userId}">${obj.pageItems.content[i].userName}</a></div>
                                    <div style="color: #aaaaaa; font-size: x-small;" >${obj.pageItems.content[i].email}</div>
                                </div>
                            </div>
                     `

						}

						$("#appendDiv2").html(htmlStr);
					},
					error: function (e) {
						console.log(e);
					}
				});

				//클릭시 사용 -- 팔로우 앞으로
				$("#btn_next1").click(function () {
					page_num = page_num + 1;
					console.log("누르기전page_num===" + page_num)

					if (page_num > totalPages) {
						page_num = totalPages;
						return;
					}

					$.ajax({
						url: '/social/otherUserFollow',
						type: 'get',
						data: {
							userId: $("#hiddenId").val(),
							page: page_num - 1
						},
						success: function (obj) {
							console.log(obj);
							let htmlStr = '';
							for (let i = 0; i < obj.pageItems.content.length; i++) {
								htmlStr += `
                     <div class="" style="width: 100%; height: 70px;">
                                <div class="col-2" style="margin-top: 10px; float: left; text-align: center;"><img class="img-fluid rounded-circle" src="assets/img/messages-2.jpg" style="width: 50px;"></div>
                                <div class="col-10" style="margin-top: 13px; float: left; text-align: center; padding-left: -50%;">
                                    <div><a style="font-size" href="/social/otherUser?userId=${obj.pageItems.content[i].userId}">${obj.pageItems.content[i].userName}</a></div>
                                    <div style="color: #aaaaaa; font-size: x-small;" >${obj.pageItems.content[i].email}</div>
                                </div>
                            </div>
                     `
							}

							$("#appendDiv1").html(htmlStr);
							console.log("누른후page_num===" + page_num);

						},
						error: function (e) {
							console.log(e);
						}
					});
				})
				//클릭시 사용 -- 팔로우 뒤로
				$("#btn_prev1").click(function () {
					console.log("누르기전page_num===" + page_num);
					if (page_num < 2) {
						return;
					}
					page_num = page_num - 1;
					console.log("누른후page_num===" + page_num);
					$.ajax({
						url: '/social/otherUserFollow',
						type: 'get',
						data: {
							userId: $("#hiddenId").val(),
							page_num: page_num - 1
						},
						success: function (obj) {
							let htmlStr = '';
							for (let i = 0; i < obj.pageItems.content.length; i++) {
								htmlStr += `
                     <div class="" style="width: 100%; height: 70px;">
                                <div class="col-2" style="margin-top: 10px; float: left; text-align: center;"><img class="img-fluid rounded-circle" src="assets/img/messages-2.jpg" style="width: 50px;"></div>
                                <div class="col-10" style="margin-top: 13px; float: left; text-align: center; padding-left: -50%;">
                                    <div><a style="font-size" href="/social/otherUser?userId=${obj.pageItems.content[i].userId}">${obj.pageItems.content[i].userName}</a></div>
                                    <div style="color: #aaaaaa; font-size: x-small;" >${obj.pageItems.content[i].email}</div>
                                </div>
                            </div>
                     `
							}

							$("#appendDiv1").html(htmlStr);
						},
						error: function (e) {
							console.log(e);
						}
					});
				})

				//클릭시 사용 -- 팔로잉 앞으로
				$("#btn_next2").click(function () {
					console.log("누르기전page_num2===" + page_num2)

					$.ajax({
						url: '/social/otherUserFollowingPaging',
						type: 'get',
						data: {
							userId: $("#hiddenId").val(),
							page_num: page_num2
						},
						success: function (obj) {
							if (page_num2 == obj.pageItems.totalPages) {
								return
							}
							let htmlStr = '';
							for (let i = 0; i < obj.pageItems.content.length; i++) {
								htmlStr += `
                     <div class="" style="width: 100%; height: 70px;">
                                <div class="col-2" style="margin-top: 10px; float: left; text-align: center;"><img class="img-fluid rounded-circle" src="assets/img/messages-2.jpg" style="width: 50px;"></div>
                                <div class="col-10" style="margin-top: 13px; float: left; text-align: center; padding-left: -50%;">
                                    <div><a style="font-size" href="/social/otherUser?userId=${obj.pageItems.content[i].userId}">${obj.pageItems.content[i].userName}</a></div>
                                    <div style="color: #aaaaaa; font-size: x-small;" >${obj.pageItems.content[i].email}</div>
                                </div>
                            </div>
                     `
							}

							$("#appendDiv2").html(htmlStr);
							page_num2 = page_num2 + 1;
							console.log("누른후page_num2===" + page_num2);

						},
						error: function (e) {
							console.log(e);
						}
					});
				})
				//클릭시 사용 -- 팔로잉 뒤로
				$("#btn_prev2").click(function () {
					console.log("누르기전page_num2===" + page_num2);
					if (page_num2 == 1) {
						return;
					}
					page_num2 = page_num2 - 2;
					console.log("누른후page_num2===" + page_num2);
					$.ajax({
						url: '/social/otherUserFollowingPaging',
						type: 'get',
						data: {
							userId: $("#hiddenId").val(),
							page_num: page_num2
						},
						success: function (obj) {
							let htmlStr = '';
							for (let i = 0; i < obj.pageItems.content.length; i++) {
								htmlStr += `
                     <div class="" style="width: 100%; height: 70px;">
                                <div class="col-2" style="margin-top: 10px; float: left; text-align: center;"><img class="img-fluid rounded-circle" src="assets/img/messages-2.jpg" style="width: 50px;"></div>
                                <div class="col-10" style="margin-top: 13px; float: left; text-align: center; padding-left: -50%;">
                                    <div><a style="font-size" href="/social/otherUser?userId=${obj.pageItems.content[i].userId}">${obj.pageItems.content[i].userName}</a></div>
                                    <div style="color: #aaaaaa; font-size: x-small;" >${obj.pageItems.content[i].email}</div>
                                </div>
                            </div>
                     `
							}
							$("#appendDiv2").html(htmlStr);
							page_num2 = page_num2 + 1;
						},
						error: function (e) {
							console.log(e);
						}
					});
				})

			});
		</script>
	</th:block>

</head>
<!-- head 영역 끝 -->

<body>
	<main layout:fragment="main" id="main" class="main">
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card-title profile-card pt-4 d-flex flex-column align-items-center"
						style="position: relative;">
						<div style="position: absolute; top: 20px; right: 20px;"><a th:href="@{/user/reportUserFollow(userId=${user.userId})}">유저 신고하기</a></div>
						<img th:src="@{/assets/img/messages-1.jpg}" alt="Profile" class="rounded-circle">
						<h2 style="margin-top: 15px;" th:text="${user.userName}"></h2>
						<h6 style="color: #aaaaaa;" th:text="${user.email}"></h6>
						<input type="hidden" id="hiddenId" th:value="${user.userId}">
						<h6 th:text="${user.bio}"></h6>
						<div id="followYn">
						</div>
						
					</div>
					<div class="card-body">
						<!-- 선택 버튼 -->
						<ul class="nav nav-tabs nav-tabs-bordered">
							<li class="nav-item">
								<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-post">작성한
									글</button>
							</li>

							<li class="nav-item">
								<button class="nav-link" data-bs-toggle="tab"
									data-bs-target="#profile-fallower">팔로워</button>
							</li>

							<li class="nav-item">
								<button class="nav-link" data-bs-toggle="tab"
									data-bs-target="#profile-fallowing">팔로잉</button>
							</li>
						</ul>
						<!--버튼에 관한 각각의 창-->
						<div class="tab-content pt-2">
							<!--작성한 글-->
							<div class="tab-pane fade show active" id="profile-post">
								<div class="row">
									<div class="col-12">
										<div class="card recent-sales" th:if="${postList.totalElements == 0}">
											<div class="card-body">
												<div class="card-title">
													<img class="img-fluid rounded-circle"
														th:src="@{/assets/img/messages-1.jpg}" style="width: 40px;">
													<a href="#" class="card-title" th:text="${user.userName}"></a>
												</div>
												<div class="activity" style="margin-bottom: 10px;">
												</div>
												<div class="activity">
													<div>작성된 글이 없습니다.</div>
													<br>
												</div>
												<div class="activity">
													<hr>
												</div>
												<div class="activity" style="text-align: center;">
												</div>
											</div>
										</div>

										<div class="card recent-sales" th:each="post:${postList}">
											<div class="card-body">
												<div class="filter" style="margin-top: 30px; float: right;">
													<a style="margin-right: 20px;">30분전</a>
													<a class="icon" href="#" data-bs-toggle="dropdown"><i
															class="bi bi-three-dots"></i></a>
													<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
														<li><a class="dropdown-item" href="#"><i
																	class="ri-alarm-warning-line"></i>&emsp;신고하기</a>
														</li>
													</ul>
												</div>
												<div class="card-title">
													<img class="img-fluid rounded-circle"
														th:src="@{/assets/img/messages-1.jpg}" style="width: 40px;">
													<a href="#" class="card-title" th:text="${user.userName}"></a>
												</div>
												<div class="activity" style="margin-bottom: 10px;">
													<img th:src="@{/assets/img/news-1.jpg}" style="width: 100%;">
												</div>
												<div class="activity">
													<div th:text="${post.postContent}"></div>
													<br>
													<a href="#" style="color: blue;" th:text="${post.hashTag1}"></a>
													<a href="#" style="color: blue;" th:text="${post.hashTag2}"></a>
													<a href="#" style="color: blue;" th:text="${post.hashTag3}"></a>
													<a href="#" style="color: blue;" th:text="${post.hashTag4}"></a>
													<a href="#" style="color: blue;" th:text="${post.hashTag5}"></a>
												</div>
												<div class="activity">
													<a href="#"><i class="ri-heart-3-line"
															style="font-size: 30px; margin-right: 5px; color:black"></i></a>
													<a href="#" id="msg_btn"><i class="ri-message-3-line"
															style="font-size: 30px; margin-right: 5px; color:black;"></i></a>
													<a href="#"><i class="ri-send-plane-2-line"
															style="font-size: 30px; margin-right: 5px; color:black;"></i></a>
													<br>
													<a>좋아요 <span>21</span>개</a>
													<hr>
												</div>
												<div class="activity" style="text-align: center;">
													<a href="#"><span>six</span>님 외 16명이 <span>서울 강남구 강남대로 36</span>
														<span>감성타코</span>에서 식사하셨어요!</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--팔로워-->
							<div class="tab-pane fade" id="profile-fallower">
								<div class="row">
									<div class="card" id="appendDiv1">
										<!--팔로우 리스트-->
									</div>
								</div>
								<button id="btn_prev1">이전</button>
								<button id="btn_next1">다음</button>
							</div>
							<!--팔로잉-->
							<div class="tab-pane fade" id="profile-fallowing">
								<div class="row">
									<div class="card" id="appendDiv2">

										<!--팔로잉 리스트-->

									</div>
								</div>
								<button id="btn_prev2">이전</button>
								<button id="btn_next2">다음</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
	</main><!-- End #main -->
</body>

</html>