<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(function () {
				var page_num = 1;
				var page_num2 = 1;
				console.log(page_num+"페이지넘 초기화??");
				var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
				var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
					return new bootstrap.Tooltip(tooltipTriggerEl)
				})
				$.ajax({
					url: '/social/otherUserFollow',
					type: 'get',
					data: {userId: $("#hiddenId").val()},
					success: function (obj) {
						console.log(obj);
						let htmlStr = '';
						for (let i = 0; i < obj.pageItems.content.length; i++) {
							htmlStr += `
							<div class="card-body">
								<div class=""
									style="width: 100%; height: 70px; border-radius: 16px; background-color: #B4E5FF;">
									<!--친구 사진-->
									<div style="width: 30%; margin-top: 10px; float: left;"><img
											class="img-fluid rounded-circle" th:src="@{/assets/img/messages-1.jpg}"
											style="width: 50px;"></div>
									<!--친구 닉네임, 아이디-->
									<div style="width: 60%; margin-top: 13px; float: left;">
										<div><b>${obj.pageItems.content[i].userName}</b></div>
										<div style="color: #aaaaaa; font-size: x-small;" >${obj.pageItems.content[i].email}</div>
									</div>
								</div>
							</div>
							`

						}


						$("#appendDiv1").html(htmlStr);
					},
					error: function (e) {
						console.log(e);
					}
				});

				//팔로잉 리스트
				$.ajax({
					url: '/social/otherUserFollowing',
					type: 'get',
					data: {userId: $("#hiddenId").val()},
					success: function (obj) {
						let htmlStr = '';
						for (let i = 0; i < obj.pageItems.content.length; i++) {
							htmlStr += `
							<div class="card-body">
								<div class=""
									style="width: 100%; height: 70px; border-radius: 16px; background-color: #B4E5FF;">
									<!--친구 사진-->
									<div style="width: 30%; margin-top: 10px; float: left;"><img
											class="img-fluid rounded-circle" th:src="@{/assets/img/messages-1.jpg}"
											style="width: 50px;"></div>
									<!--친구 닉네임, 아이디-->
									<div style="width: 60%; margin-top: 13px; float: left;">
										<div><b>${obj.pageItems.content[i].userName}</b></div>
										<div style="color: #aaaaaa; font-size: x-small;" >${obj.pageItems.content[i].email}</div>
									</div>
								</div>
							</div>
							`

						}

						$("#appendDiv2").html(htmlStr);
					},
					error: function (e) {
						console.log(e);
					}
				});

				//클릭시 사용 -- 팔로우 앞으로
				$("#btn_next1").click(function () {
					console.log("누르기전page_num===" + page_num)

					$.ajax({
						url: '/social/otherUserFollowPaging',
						type: 'get',
						data: {
							userId: $("#hiddenId").val(),
							page_num: page_num
						},
						success: function (obj) {
							if(page_num == obj.pageItems.totalPages){
								return
							}
							let htmlStr = '';
							for (let i = 0; i < obj.pageItems.content.length; i++) {
								htmlStr += `
							<div class="card-body">
								<div class=""
									style="width: 100%; height: 70px; border-radius: 16px; background-color: #B4E5FF;">
									<!--친구 사진-->
									<div style="width: 30%; margin-top: 10px; float: left;"><img
											class="img-fluid rounded-circle" th:src="@{/assets/img/messages-1.jpg}"
											style="width: 50px;"></div>
									<!--친구 닉네임, 아이디-->
									<div style="width: 60%; margin-top: 13px; float: left;">
										<div><b>${obj.pageItems.content[i].userName}</b></div>
										<div style="color: #aaaaaa; font-size: x-small;" >${obj.pageItems.content[i].email}</div>
									</div>
								</div>
							</div>
							`
							}

							$("#appendDiv1").html(htmlStr);
						page_num=page_num+1;
						console.log("누른후page_num===" + page_num);

						},
						error: function (e) {
							console.log(e);
						}
					});
				})
				//클릭시 사용 -- 팔로우 뒤로
				$("#btn_prev1").click(function () {
					console.log("누르기전page_num===" + page_num);
					if(page_num==1){
						return;
					}
					page_num = page_num - 2;
					console.log("누른후page_num===" + page_num);
					$.ajax({
						url: '/social/otherUserFollowPaging',
						type: 'get',
						data: {
							userId: $("#hiddenId").val(),
							page_num: page_num
						},
						success: function (obj) {
							let htmlStr = '';
							for (let i = 0; i < obj.pageItems.content.length; i++) {
								htmlStr += `
							<div class="card-body">
								<div class=""
									style="width: 100%; height: 70px; border-radius: 16px; background-color: #B4E5FF;">
									<!--친구 사진-->
									<div style="width: 30%; margin-top: 10px; float: left;"><img
											class="img-fluid rounded-circle" th:src="@{/assets/img/messages-1.jpg}"
											style="width: 50px;"></div>
									<!--친구 닉네임, 아이디-->
									<div style="width: 60%; margin-top: 13px; float: left;">
										<div><b>${obj.pageItems.content[i].userName}</b></div>
										<div style="color: #aaaaaa; font-size: x-small;" >${obj.pageItems.content[i].email}</div>
									</div>
								</div>
							</div>
							`
							}

							$("#appendDiv1").html(htmlStr);
							page_num = page_num +1;
						},
						error: function (e) {
							console.log(e);
						}
					});
				})

				//클릭시 사용 -- 팔로잉 앞으로
				$("#btn_next2").click(function () {
					console.log("누르기전page_num2===" + page_num2)

					$.ajax({
						url: '/social/otherUserFollowingPaging',
						type: 'get',
						data: {
							userId: $("#hiddenId").val(),
							page_num: page_num2
						},
						success: function (obj) {
							if(page_num2 == obj.pageItems.totalPages){
								return
							}
							let htmlStr = '';
							for (let i = 0; i < obj.pageItems.content.length; i++) {
								htmlStr += `
							<div class="card-body">
								<div class=""
									style="width: 100%; height: 70px; border-radius: 16px; background-color: #B4E5FF;">
									<!--친구 사진-->
									<div style="width: 30%; margin-top: 10px; float: left;"><img
											class="img-fluid rounded-circle" th:src="@{/assets/img/messages-1.jpg}"
											style="width: 50px;"></div>
									<!--친구 닉네임, 아이디-->
									<div style="width: 60%; margin-top: 13px; float: left;">
										<div><b>${obj.pageItems.content[i].userName}</b></div>
										<div style="color: #aaaaaa; font-size: x-small;" >${obj.pageItems.content[i].email}</div>
									</div>
								</div>
							</div>
							`
							}

							$("#appendDiv2").html(htmlStr);
						page_num2=page_num2+1;
						console.log("누른후page_num2===" + page_num2);

						},
						error: function (e) {
							console.log(e);
						}
					});
				})
				//클릭시 사용 -- 팔로잉 뒤로
				$("#btn_prev2").click(function () {
					console.log("누르기전page_num2===" + page_num2);
					if(page_num2==1){
						return;
					}
					page_num2 = page_num2 - 2;
					console.log("누른후page_num2===" + page_num2);
					$.ajax({
						url: '/social/otherUserFollowingPaging',
						type: 'get',
						data: {
							userId: $("#hiddenId").val(),
							page_num: page_num2
						},
						success: function (obj) {
							let htmlStr = '';
							for (let i = 0; i < obj.pageItems.content.length; i++) {
								htmlStr += `
							<div class="card-body">
								<div class=""
									style="width: 100%; height: 70px; border-radius: 16px; background-color: #B4E5FF;">
									<!--친구 사진-->
									<div style="width: 30%; margin-top: 10px; float: left;"><img
											class="img-fluid rounded-circle" th:src="@{/assets/img/messages-1.jpg}"
											style="width: 50px;"></div>
									<!--친구 닉네임, 아이디-->
									<div style="width: 60%; margin-top: 13px; float: left;">
										<div><b>${obj.pageItems.content[i].userName}</b></div>
										<div style="color: #aaaaaa; font-size: x-small;" >${obj.pageItems.content[i].email}</div>
									</div>
								</div>
							</div>
							`
							}

							$("#appendDiv2").html(htmlStr);
							page_num2 = page_num2 +1;
						},
						error: function (e) {
							console.log(e);
						}
					});
				})

			});
		</script>
	</th:block>

</head>
<!-- head 영역 끝 -->

<body>
	<main layout:fragment="main" id="main" class="main">
		<section class="section">
			<div class="row">
				<div class="col-lg-8">
					<div class="card-title profile-card pt-4 d-flex flex-column align-items-center">
						<img th:src="@{/assets/img/messages-1.jpg}" alt="Profile" class="rounded-circle">
						<h2 style="margin-top: 15px;" th:text="${user.userName}"></h2>
						<h6 style="color: #aaaaaa;" th:text="${user.email}"></h6>
						<input type="hidden" id="hiddenId" th:value="${user.userId}">
						<h6 th:text="${user.bio}"></h6>
						<form style="position: absolute; right: 10%;">
							<input type="button" class="btn" value="팔로우">
						</form>
					</div>
					<div class="card-body">
						<!-- 선택 버튼 -->
						<ul class="nav nav-tabs nav-tabs-bordered">
							<li class="nav-item">
							</li>
						</ul>
						<!--버튼에 관한 각각의 창-->
						<div class="tab-content pt-2">
							<!--작성한 글-->
							<div class="tab-pane active" id="profile-post">
								<div class="row">
									<div class="col-12">
										<div class="card recent-sales" th:if="${postList.totalElements == 0}">
											<div class="card-body">
												<div class="card-title">
													<img class="img-fluid rounded-circle"
														th:src="@{/assets/img/messages-1.jpg}" style="width: 40px;">
													<a href="#" class="card-title" th:text="${user.userName}"></a>
												</div>
												<div class="activity" style="margin-bottom: 10px;">
												</div>
												<div class="activity">
													<div>작성된 글이 없습니다.</div>
													<br>
												</div>
												<div class="activity">
													<hr>
												</div>
												<div class="activity" style="text-align: center;">
												</div>
											</div>
										</div>

										<div class="card recent-sales" th:each="post:${postList}">
											<div class="card-body">
												<div class="filter" style="margin-top: 30px; float: right;">
													<a style="margin-right: 20px;">30분전</a>
													<a class="icon" href="#" data-bs-toggle="dropdown"><i
															class="bi bi-three-dots"></i></a>
													<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
														<li><a class="dropdown-item" href="#"><i
																	class="ri-alarm-warning-line"></i>&emsp;신고하기</a>
														</li>
													</ul>
												</div>
												<div class="card-title">
													<img class="img-fluid rounded-circle"
														th:src="@{/assets/img/messages-1.jpg}" style="width: 40px;">
													<a href="#" class="card-title" th:text="${user.userName}"></a>
												</div>
												<div class="activity" style="margin-bottom: 10px;">
													<img th:src="@{/assets/img/news-1.jpg}" style="width: 100%;">
												</div>
												<div class="activity">
													<div th:text="${post.postContent}"></div>
													<br>
													<a href="#" style="color: blue;" th:text="${post.hashTag1}"></a>
													<a href="#" style="color: blue;" th:text="${post.hashTag2}"></a>
													<a href="#" style="color: blue;" th:text="${post.hashTag3}"></a>
													<a href="#" style="color: blue;" th:text="${post.hashTag4}"></a>
													<a href="#" style="color: blue;" th:text="${post.hashTag5}"></a>
												</div>
												<div class="activity">
													<a href="#"><i class="ri-heart-3-line"
															style="font-size: 30px; margin-right: 5px; color:black"></i></a>
													<a href="#" id="msg_btn"><i class="ri-message-3-line"
															style="font-size: 30px; margin-right: 5px; color:black;"></i></a>
													<a href="#"><i class="ri-send-plane-2-line"
															style="font-size: 30px; margin-right: 5px; color:black;"></i></a>
													<br>
													<a>좋아요 <span>21</span>개</a>
													<hr>
												</div>
												<div class="activity" style="text-align: center;">
													<a href="#"><span>six</span>님 외 16명이 <span>서울 강남구 강남대로 36</span>
														<span>감성타코</span>에서 식사하셨어요!</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-xxl-3">

					<!--Follow 리스트-->
					<div class="card" style="text-align: center;">
						<h5 class="card-title" style="font-weight: bold;">Follow</h5>
						<div class="card-body">
							<form class="form-inline" role="form">
								<input type="text" placeholder="팔로우 검색" onfocus="this.placeholder=''"
									onblur="this.placeholder='팔로우 검색'">
								<input type="button" value="검색">
							</form>
						</div>
						<div class="card-body">
							<div id="appendDiv1"></div>
							<button id="btn_prev1">이전</button>
							<button id="btn_next1">다음</button>
						</div>
					</div>

					<!--Following 리스트-->
					<div class="card" style="text-align: center;">
						<h5 class="card-title" style="font-weight: bold;">Following</h5>
						<div class="card-body">
							<form class="form-inline" role="form">
								<input type="text" placeholder="팔로워 검색" onfocus="this.placeholder=''"
									onblur="this.placeholder='팔로워 검색'">
								<input type="button" value="검색">
							</form>
						</div>

						<div class="card-body">
							<div id="appendDiv2"></div>
							<button id="btn_prev2">이전</button>
							<button id="btn_next2">다음</button>
						</div>
					</div>
				</div>
		</section>
	</main><!-- End #main -->
</body>

</html>