<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	
	>
	<head>
		<title>Welcome to MUGLANG</title>
		<style>
        #container { 
            width: 300px;
            height: 280px; 
            margin: 100px auto; 
            border: 1px solid grey; }
        img {
            width: 180px;
            display: block;
            margin: 20px auto;
        }
        h3 {
            margin: 30px auto;
            text-align: center;
        }
        </style>
		
	</head>
	<body>
	    <div id="container">
	        <form action="/user/socialLogin" method="post">
	            <h3>MUGLANG 소셜 로그인 추가 정보 입력</h3>
	            <p>로그인 정보 나머지 정보는 추가하면 됨.</p>
	            <!--<input type="hidden" id="">-->
	            <label>이름</label><input type="text" id="firstName" name="firstName" value=""><br/>
	            <label>성</label><input type="text" id="lastName" name="lastName" value=""><br/>
	            <label>닉네임</label><input type="text" id="userNick" name="userNick" value=""><br/>
	            <!-- 로그인 버튼 (SNS로그인으로 대체 되므로 추후에 지우면 됨.) -->
	            <input type="submit" value="로그인하기">
	        </form>
	    </div>		
	</body>
</html>
	