<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout_admin}">
	<head>
		
	</head>
	<body>
	<main layout:fragment="main" id="main" class="main">
			
		<h3>asdasdadsasdasd</h3>
		-----------------------<br>
		<h3>어드민페이지입니다.</h3>
		<div>
			<a th:href="@{/user/getUserList}">유저 리스트로 이동</a>
		</div>
				-----------------------<br>
		<div>
			<a th:href="@{/admin/commentReport}">리포트-커멘트 리스트로 이동</a>
		</div>
						-----------------------<br>
		<div>
			<a th:href="@{/admin/postReport}">리포트-포스트 리스트로 이동</a>
		</div>
						-----------------------<br>
		<div>
			<a th:href="@{/admin/userReport}">리포트-유저 리스트로 이동</a>
		</div>
		<div>
			<a th:href="@{/admin/adminMemberView}">리포트-유저 리스트로 이동</a>
		</div>
		
	</main>
	
	</body>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</html>