<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>

	</head>
	<th:block layout:fragment = "script">
		<script th:inline="javascript">
			$(function() {
				const url = new URL(window.location.href);
				
				const urlParams = url.searchParams;
				
				const commentId = urlParams.get("commentId");
				
				$.ajax({
					url: '/comment/comment',
					type: 'get',
					data: {commentId: commentId},
					success: function(obj) {
						$("#commentId").text(obj.item.commentId);
						$("#commentDate").text(obj.item.commentDate == null ?
													'' :
													obj.item.commentDate.substring(0, 10));
						$("#commentContent").text(obj.item.commentContent);
						$("#postId").text(obj.item.postId);
						$("#userId").text(obj.item.userId);
						$("#valPost").text(obj.item.postId);
						$("#valComment").text(obj.item.commentId);
									   
					},
					error: function(e) {
						console.log(e);
					}
			});
				
			});
	
		</script>
	</th:block>
	<body>
		<main layout:fragment="main" id="main" class="main">		
				<table id="boardTable" border="1" style="width: 700px; border-collapse: collapse;">
					<tr style="border: 1px solid black;">
						<th style="background-color: bisque; text-align: center;">댓글 번호</th>
						<th style="background-color: bisque; text-align: center;">글 번호</th>
						<th style="background-color: bisque; text-align: center;">댓글 내용</th>
						<th style="background-color: bisque; text-align: center;">작성 날짜</th>
						<th style="background-color: bisque; text-align: center;">작성자</th>
						<th id="valPost"></th>
						<th  id="valComment"></th>
					</tr>
						<tr>
							<td id="commentId" style="text-align: center;"></td>
							<td id="postId" style="text-align: center;"></td>
							<td id="commentContent" style="text-align: center;"></td>
							<td id="commentDate" style="text-align: center;"></td>
							<td id="userId" style="text-align: center;"></td>
						</tr>
				</table>
		</main>
	</body>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</html>