<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout_admin}">
	<head>

	</head>
	<th:block layout:fragment = "script">
		<script th:inline="javascript">


		     /*<![CDATA[*/


				function new_window(TargetUserId) {
		        window.open(
		          "userWindow?TargetUserId=" + TargetUserId,
		          "user",
		          "width=400, height=300, top=50, left=50"
		        );
		      }
					function new_windows() {
		        	window.open(
			          "userOrderWindow",
			          "users",
			          "width=400, height=300, top=50, left=50"
				        );
				      }

		/*]]>*/
				
		</script>
	</th:block>
	<body>
		<main layout:fragment="main" id="main" class="main">
		
				<table id="boardTable" border="1" style="width: 700px; border-collapse: collapse;">
					<tr>
						<th>신고 번호</th>
						<th>신고한 유저 아이디</th>
						<th>신고된 유저 아이디</th>
						<th>신고 날짜</th>
						<th><input type="button" th:onclick="new_windows()" value="우선순위 보기"></th> 
					</tr>
						<tr th:each="report : ${reportList}">
							<td th:text="${report.reportId}"></td>
							<td th:text="${report.sourceUserId}"></td>
							<td th:text="${report.TargetUserId}"></td>
							<td th:text="${report.reportDate eq null ? '' : #strings.substring(report.reportDate, 0, 10)}"></td>
							<td><!--<input type="button" th:onclick="new_window([[${report.TargetUserId}]])" value="보기">--></td>
						</tr>
				</table>
				<br/>
				<div style="text-align:center;">
					<ul class="pagination" th:if="${reportList.totalElements > 0}"
										   th:with="pageNumber = ${reportList.pageable.pageNumber},
												    pageSize = ${reportList.pageable.pageSize},
												    totalPages = ${reportList.totalPages},
												    startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
												    tempEndPage = ${startPage + pageSize - 1},
												    endPage = ${tempEndPage > totalPages ? totalPages : tempEndPage}">
						<li class="pagination_button" th:if="${pageNumber > 0}">
							<a th:href="@{/admin/commentReport(
											page=${pageNumber - 1}
										)}">이전</a>
						</li>
					
					
						<li class="pagination_button" th:each="page : ${#numbers.sequence(startPage, endPage)}">
							<a th:href="@{/user/getUserList(
											page=${page - 1},
											searchCondition=${searchCondition},
											searchKeyword=${searchKeyword}
										)}" th:text="${page}"></a>
						</li>
					
						<li class="pagination_button" th:if="${pageNumber < totalPages - 1}">
							<a th:href="@{/user/getUserList(
											page=${pageNumber + 1},
											searchCondition=${searchCondition},
											searchKeyword=${searchKeyword}
										)}">다음</a>
						</li>
					</ul>
				</div>
				<br/>
			</div>
		</main>
	</body>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</html>